In [1]:
import numpy as np
import pandas as pd
import csv

df1 = pd.read_csv('2001volcanoes.csv', dtype=object)
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['Start_Month'],row['Start_Day'],row['Start_Year']), axis=1)
print(df1['startdate'])
df1['startdate'] = pd.to_datetime(df1.startdate)
df1 = df1.sort_values(by = ['startdate'])
df1['type'] = 'V'
df1

0       1/8/2001
1      1/11/2001
2      1/11/2001
3      1/16/2001
4      1/17/2001
5       2/2/2001
6       2/6/2001
7      2/19/2001
8      3/27/2001
9      4/13/2001
10     4/23/2001
11     4/24/2001
12      5/3/2001
13     5/11/2001
14     5/12/2001
15     5/28/2001
16      6/8/2001
17     6/11/2001
18     6/14/2001
19     7/17/2001
20     7/21/2001
21     7/23/2001
22     8/28/2001
23      9/1/2001
24     9/21/2001
25     9/25/2001
26     9/27/2001
27     10/1/2001
28     10/5/2001
29    10/31/2001
30    11/15/2001
31    11/24/2001
32    11/26/2001
33     12/1/2001
34     12/4/2001
35    12/10/2001
Name: startdate, dtype: object

,Unnamed: 0,Volcano_Number,Volcano_Name,Eruption_Number,Eruption_Category,Area_of_Activity,VEI,VEI_Modifier,Start_Year_Modifier,Start_Year,...,End_Year_Uncertainty,End_Month,End_Day_Modifier,End_Day,End_Day_Uncertainty,Latitude,Longitude,cluster,startdate,type
0,597,273030,Mayon,16810,Confirmed Eruption,NaN,3,NaN,NaN,2001,...,NaN,8,NaN,8,NaN,13.257,123.685,5,2001-01-08,V
1,596,284040,Miyakejima,18274,Confirmed Eruption,NaN,2,NaN,NaN,2001,...,NaN,11,NaN,24,NaN,34.094,139.526,12,2001-01-11,V
2,595,264090,Inielika,16258,Confirmed Eruption,Summit crater complex,2,NaN,NaN,2001,...,NaN,3,?,0,NaN,-8.73,120.98,5,2001-01-11,V
3,594,252120,Ulawun,15064,Confirmed Eruption,Summit and NNE flank,3,NaN,NaN,2001,...,NaN,5,NaN,3,NaN,-5.05,151.33,10,2001-01-16,V
4,593,344040,Telica,10935,Confirmed Eruption,NaN,1,NaN,NaN,2001,...,NaN,12,?,19,NaN,12.602,-86.845,2,2001-01-17,V
5,592,311240,Cleveland,19816,Confirmed Eruption,NaN,3,?,NaN,2001,...,NaN,4,?,15,NaN,52.825,-169.944,12,2001-02-02,V
6,591,223020,Nyamuragira,14081,Confirmed Eruption,North and SSE flanks,2,?,NaN,2001,...,NaN,4,NaN,5,4,-1.408,29.2,9,2001-02-06,V
7,590,241040,White Island,14495,Confirmed Eruption,MH vent,2,NaN,NaN,2001,...,NaN,2,?,19,NaN,-37.52,177.18,10,2001-02-19,V
8,589,233020,Fournaise Piton de la,14380,Confirmed Eruption,South flank (below Dolomieu at ~2500 m),1,NaN,NaN,2001,...,NaN,4,NaN,4,NaN,-21.244,55.708,7,2001-03-27,V
9,588,261140,Marapi,15478,Confirmed Eruption,Verbeek Crater,2,NaN,NaN,2001,...,NaN,6,NaN,5,NaN,-0.381,100.473,5,2001-04-13,V
10,587,344100,Masaya,11037,Confirmed Eruption,Santiago,1,NaN,NaN,2001,...,NaN,4,?,25,NaN,11.984,-86.161,2,2001-04-23,V
11,586,284141,Ahyi,18474,Confirmed Eruption,20.34�N 145.02�E,0,NaN,NaN,2001,...,NaN,4,NaN,25,NaN,20.42,145.03,12,2001-04-24,V
12,585,234011,McDonald Islands,14397,Confirmed Eruption,NaN,1,?,NaN,2001,...,NaN,NaN,NaN,NaN,NaN,-53.03,72.6,8,2001-05-03,V
13,584,344020,San Cristobal,10888,Confirmed Eruption,NaN,1,NaN,NaN,2001,...,NaN,12,?,9,NaN,12.702,-87.004,2,2001-05-11,V
14,583,261170,Kerinci,15528,Confirmed Eruption,NaN,2,NaN,NaN,2001,...,NaN,8,?,27,NaN,-1.697,101.264,5,2001-05-12,V
15,582,268030,Ibu,16580,Confirmed Eruption,NaN,0,NaN,NaN,2001,...,NaN,10,?,3,NaN,1.488,127.63,5,2001-05-28,V
16,581,257050,Lopevi,15317,Confirmed Eruption,NW flank (200-400 m),3,NaN,NaN,2001,...,NaN,6,>,19,NaN,-16.507,168.346,10,2001-06-08,V
17,580,233020,Fournaise Piton de la,14381,Confirmed Eruption,ESE flank (2500 m) East flank (1800-2000 m),1,NaN,NaN,2001,...,NaN,7,NaN,7,NaN,-21.244,55.708,7,2001-06-11,V
18,579,251020,Manam,14929,Confirmed Eruption,NaN,2,NaN,NaN,2001,...,NaN,6,?,25,NaN,-4.08,145.037,5,2001-06-14,V
19,578,211060,Etna,13832,Confirmed Eruption,S to NE flanks (3100-2100 m),2,NaN,NaN,2001,...,NaN,8,NaN,9,NaN,37.734,15.004,13,2001-07-17,V
20,577,262000,Krakatau,15625,Confirmed Eruption,Anak Krakatau,1,NaN,NaN,2001,...,NaN,9,?,17,NaN,-6.102,105.423,5,2001-07-21,V
21,576,300250,Bezymianny,19378,Confirmed Eruption,NaN,3,NaN,NaN,2001,...,NaN,8,?,10,NaN,55.972,160.595,12,2001-07-23,V
22,575,252120,Ulawun,15065,Confirmed Eruption,NaN,2,NaN,NaN,2001,...,NaN,8,NaN,28,NaN,-5.05,151.33,10,2001-08-28,V
23,574,390090,Saunders,13217,Confirmed Eruption,NaN,0,NaN,NaN,2001,...,NaN,11,?,0,NaN,-57.8,-26.483,3,2001-09-01,V
24,573,284120,Ioto,18421,Confirmed Eruption,Off SE coast and Idogahama (NW coast),1,NaN,NaN,2001,...,NaN,10,NaN,23,NaN,24.751,141.289,12,2001-09-21,V
25,572,261160,Talang,15494,Confirmed Eruption,Kepundan Panjang & Kabuo Gabuo Atas,1,NaN,NaN,2001,...,NaN,11,NaN,15,3,-0.978,100.679,5,2001-09-25,V
26,571,243091,Unnamed,14772,Confirmed Eruption,NaN,2,NaN,NaN,2001,...,NaN,9,?,28,NaN,-18.325,-174.365,10,2001-09-27,V
27,570,390081,Montagu Island,13205,Confirmed Eruption,NW of Mount Belinda,1,?,NaN,2001,...,NaN,9,NaN,20,NaN,-58.445,-26.374,3,2001-10-01,V
28,569,300100,Avachinsky,19104,Confirmed Eruption,NaN,1,NaN,NaN,2001,...,NaN,10,NaN,5,NaN,53.256,158.836,12,2001-10-05,V
29,568,342110,Pacaya,19880,Confirmed Eruption,MacKenney Crater,1,NaN,NaN,2001,...,NaN,10,NaN,31,NaN,14.381,-90.601,2,2001-10-31,V
30,567,300130,Karymsky,19187,Confirmed Eruption,Summit and upper south flank,3,NaN,NaN,2001,...,NaN,10,NaN,4,NaN,54.049,159.443,12,2001-11-15,V
31,566,385052,Unnamed,13144,Confirmed Eruption,Seamount NW of W�st seamount,0,NaN,NaN,2001,...,NaN,3,NaN,0,NaN,-32.958,-5.22,11,2001-11-24,V
32,565,352020,Guagua Pichincha,11497,Confirmed Eruption,North of 1981 crater,1,?,NaN,2001,...,NaN,11,NaN,26,NaN,-0.171,-78.598,11,2001-11-26,V
33,564,211060,Etna,13835,Confirmed Eruption,Central Crater NE Crater,1,NaN,NaN,2001,...,NaN,10,?,30,NaN,37.734,15.004,13,2001-12-01,V
34,563,360160,Kick 'em Jenny,12468,Confirmed Eruption,NaN,0,NaN,NaN,2001,...,NaN,12,NaN,6,NaN,12.3,-61.64,2,2001-12-04,V
35,562,300250,Bezymianny,19379,Confirmed Eruption,NaN,2,NaN,NaN,2001,...,NaN,1,?,6,NaN,55.972,160.595,12,2001-12-10,V

In [15]:
df1.to_csv('2001volcanoes.csv', index = False)

In [3]:
df = pd.read_csv('2001magbigger6.csv', dtype=object)
df['startdate'] = df.apply(lambda row: '{0}/{1}/{2}'.format(row['startyear'],row['startmonth'],row['startday']), axis=1)
df['startdate'] = pd.to_datetime(df.startdate)
df = df.sort_values(by = ['startdate'])
df

    Unnamed: 0 cluster   mag startday startmonth startyear type  startdate
0       325668       5   7.5        1          1      2001    E 2001-01-01
1       325672       5   6.8        1          1      2001    E 2001-01-01
2       325705       5   6.4        2          1      2001    E 2001-01-02
3       325724      10   6.0        2          1      2001    E 2001-01-02
4       325955      10   7.1        9          1      2001    E 2001-01-09
5       326005       4  6.93       10          1      2001    E 2001-01-10
6       326023       4   6.0       11          1      2001    E 2001-01-11
7       326096       2   7.7       13          1      2001    E 2001-01-13
8       326177       7   6.4       15          1      2001    E 2001-01-15
9       326229       5   6.0       16          1      2001    E 2001-01-16
10      326230       5   6.9       16          1      2001    E 2001-01-16
11      326340       2   6.0       19          1      2001    E 2001-01-19
12      326349      10   6.3       19          1      2001    E 2001-01-19
13      326352       6   6.0       19          1      2001    E 2001-01-19
14      326640       5   7.7       26          1      2001    E 2001-01-26
15      326795       5   6.2       29          1      2001    E 2001-01-29
16      326926      12   6.0        1          2      2001    E 2001-02-01
17      327425       2   6.6       13          2      2001    E 2001-02-13
18      327441       5   7.4       13          2      2001    E 2001-02-13
19      327476      10   6.1       14          2      2001    E 2001-02-14
20      327478      10   6.2       14          2      2001    E 2001-02-14
21      327526       5   6.1       16          2      2001    E 2001-02-16
22      327596       4   6.2       17          2      2001    E 2001-02-17
23      327641       7   6.0       18          2      2001    E 2001-02-18
25      327875       5   6.2       24          2      2001    E 2001-02-24
24      327862       5   7.1       24          2      2001    E 2001-02-24
26      327907       5   6.2       25          2      2001    E 2001-02-25
27      327972      12   6.1       26          2      2001    E 2001-02-26
28      328081      10   6.7       28          2      2001    E 2001-02-28
29      328083      10   6.3       28          2      2001    E 2001-02-28
..         ...     ...   ...      ...        ...       ...  ...        ...
108     337982       2   6.0       17         10      2001    E 2001-10-17
109     338061       5   7.5       19         10      2001    E 2001-10-19
110     338141      10   6.7       21         10      2001    E 2001-10-21
111     338406      10   6.1       26         10      2001    E 2001-10-26
112     338605      10   7.0       31         10      2001    E 2001-10-31
113     338855      10   6.3        5         11      2001    E 2001-11-05
114     338995       2   6.1        9         11      2001    E 2001-11-09
115     339204       2   6.1       13         11      2001    E 2001-11-13
116     339209      12   6.0       13         11      2001    E 2001-11-13
117     339210      12   6.0       13         11      2001    E 2001-11-13
118     339260       5   7.8       14         11      2001    E 2001-11-14
119     339302      11   6.3       15         11      2001    E 2001-11-15
120     339543       5   6.2       20         11      2001    E 2001-11-20
122     339610      10   6.2       22         11      2001    E 2001-11-22
121     339609      10   6.3       22         11      2001    E 2001-11-22
123     339650       5   6.1       23         11      2001    E 2001-11-23
124     339782      10   6.0       27         11      2001    E 2001-11-27
125     339853       2   6.4       28         11      2001    E 2001-11-28
126     340038      10   6.0        2         12      2001    E 2001-12-02
127     340056      12   6.5        2         12      2001    E 2001-12-02
128     340094      10   6.4        3         12      2001    E 2001-12-03
129     340368       5   6.2        8         12      2001    E 2001-12-08
130     340430       5   6.1        9         12      2001    E 2001-12-09
131     340533      10   6.1       12         12      2001    E 2001-12-12
132     340535      10   7.1       12         12      2001    E 2001-12-12
133     340777       5   6.8       18         12      2001    E 2001-12-18
134     340961      10   6.0       22         12      2001    E 2001-12-22
135     341034      10   6.8       23         12      2001    E 2001-12-23
136     341190      10   6.2       27         12      2001    E 2001-12-27
137     341252      11   6.0       28         12      2001    E 2001-12-28

[138 rows x 8 columns]

In [4]:
df.to_csv('2001magbigger6.csv', index = False)

In [5]:
df_eq = df.iloc[:,(1,-1,-2)]
df_vo = df1.iloc[:,(-3,-1,-2)]

In [6]:
frames = [df_eq, df_vo]
result = pd.concat(frames)
result

   cluster  startdate type
0        5 2001-01-01    E
1        5 2001-01-01    E
2        5 2001-01-02    E
3       10 2001-01-02    E
4       10 2001-01-09    E
5        4 2001-01-10    E
6        4 2001-01-11    E
7        2 2001-01-13    E
8        7 2001-01-15    E
9        5 2001-01-16    E
10       5 2001-01-16    E
11       2 2001-01-19    E
12      10 2001-01-19    E
13       6 2001-01-19    E
14       5 2001-01-26    E
15       5 2001-01-29    E
16      12 2001-02-01    E
17       2 2001-02-13    E
18       5 2001-02-13    E
19      10 2001-02-14    E
20      10 2001-02-14    E
21       5 2001-02-16    E
22       4 2001-02-17    E
23       7 2001-02-18    E
25       5 2001-02-24    E
24       5 2001-02-24    E
26       5 2001-02-25    E
27      12 2001-02-26    E
28      10 2001-02-28    E
29      10 2001-02-28    E
..     ...        ...  ...
6        9 2001-02-06    V
7       10 2001-02-19    V
8        7 2001-03-27    V
9        5 2001-04-13    V
10       2 2001-04-23    V
11      12 2001-04-24    V
12       8 2001-05-03    V
13       2 2001-05-11    V
14       5 2001-05-12    V
15       5 2001-05-28    V
16      10 2001-06-08    V
17       7 2001-06-11    V
18       5 2001-06-14    V
19      13 2001-07-17    V
20       5 2001-07-21    V
21      12 2001-07-23    V
22      10 2001-08-28    V
23       3 2001-09-01    V
24      12 2001-09-21    V
25       5 2001-09-25    V
26      10 2001-09-27    V
27       3 2001-10-01    V
28      12 2001-10-05    V
29       2 2001-10-31    V
30      12 2001-11-15    V
31      11 2001-11-24    V
32      11 2001-11-26    V
33      13 2001-12-01    V
34       2 2001-12-04    V
35      12 2001-12-10    V

[174 rows x 3 columns]

In [7]:
result = result.sort_values(by = ['startdate'])

In [8]:
result

    cluster  startdate type
0         5 2001-01-01    E
1         5 2001-01-01    E
2         5 2001-01-02    E
3        10 2001-01-02    E
0         5 2001-01-08    V
4        10 2001-01-09    E
5         4 2001-01-10    E
2         5 2001-01-11    V
1        12 2001-01-11    V
6         4 2001-01-11    E
7         2 2001-01-13    E
8         7 2001-01-15    E
9         5 2001-01-16    E
10        5 2001-01-16    E
3        10 2001-01-16    V
4         2 2001-01-17    V
11        2 2001-01-19    E
12       10 2001-01-19    E
13        6 2001-01-19    E
14        5 2001-01-26    E
15        5 2001-01-29    E
16       12 2001-02-01    E
5        12 2001-02-02    V
6         9 2001-02-06    V
18        5 2001-02-13    E
17        2 2001-02-13    E
20       10 2001-02-14    E
19       10 2001-02-14    E
21        5 2001-02-16    E
22        4 2001-02-17    E
..      ...        ...  ...
114       2 2001-11-09    E
115       2 2001-11-13    E
116      12 2001-11-13    E
117      12 2001-11-13    E
118       5 2001-11-14    E
119      11 2001-11-15    E
30       12 2001-11-15    V
120       5 2001-11-20    E
121      10 2001-11-22    E
122      10 2001-11-22    E
123       5 2001-11-23    E
31       11 2001-11-24    V
32       11 2001-11-26    V
124      10 2001-11-27    E
125       2 2001-11-28    E
33       13 2001-12-01    V
127      12 2001-12-02    E
126      10 2001-12-02    E
128      10 2001-12-03    E
34        2 2001-12-04    V
129       5 2001-12-08    E
130       5 2001-12-09    E
35       12 2001-12-10    V
131      10 2001-12-12    E
132      10 2001-12-12    E
133       5 2001-12-18    E
134      10 2001-12-22    E
135      10 2001-12-23    E
136      10 2001-12-27    E
137      11 2001-12-28    E

[174 rows x 3 columns]

In [9]:
result.to_csv('basket.csv', index = False)