In [12]:
import numpy as np
import pandas as pd
df1 = pd.read_csv('allvolcanoes.csv', dtype=object)
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['Start_Month'],row['Start_Day'],row['Start_Year']), axis=1)
#print(df1['startdate'])
df1['startdate'] = pd.to_datetime(df1.startdate)
df1 = df1.sort_values(by = ['startdate'])
df1['type'] = '3'
df1

,Volcano_Number,Volcano_Name,Eruption_Number,Eruption_Category,Area_of_Activity,VEI,VEI_Modifier,Start_Year_Modifier,Start_Year,Start_Year_Uncertainty,...,End_Year_Uncertainty,End_Month,End_Day_Modifier,End_Day,End_Day_Uncertainty,Latitude,Longitude,cluster,startdate,type
0,241050,Okataina,14508,Confirmed Eruption,Waimangu Geyser,1,NaN,NaN,1900,NaN,...,NaN,11,NaN,1,NaN,-38.12,176.5,11,1900-01-01,3
1,283110,Asamayama,17762,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,10,NaN,0,NaN,36.406,138.523,7,1900-01-22,3
2,273030,Mayon,16795,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,3,NaN,6,NaN,13.257,123.685,8,1900-03-01,3
3,263300,Semeru,13571,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,4,>,11,NaN,-8.108,112.92,10,1900-03-29,3
4,233020,Fournaise Piton de la,14306,Confirmed Eruption,East of Dolomieu,0,NaN,NaN,1900,NaN,...,NaN,5,NaN,30,NaN,-21.244,55.708,2,1900-05-11,3
5,315020,Wrangell,20412,Confirmed Eruption,NaN,2,?,NaN,1900,NaN,...,NaN,NaN,NaN,NaN,NaN,62.006,-144.017,5,1900-06-01,3
6,261230,Dempo,15558,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,6,NaN,4,NaN,-4.03,103.13,10,1900-06-04,3
7,283170,Adatarayama,17912,Confirmed Eruption,Numanotaira,2,NaN,NaN,1900,NaN,...,NaN,7,NaN,17,NaN,37.647,140.281,7,1900-07-17,3
8,283120,Kusatsu-Shiranesan,17826,Confirmed Eruption,NE part of Yu-gama,1,NaN,NaN,1900,NaN,...,NaN,10,NaN,1,NaN,36.618,138.528,7,1900-10-01,3
9,261230,Dempo,15559,Confirmed Eruption,NaN,2,NaN,NaN,1900,NaN,...,NaN,10,NaN,27,NaN,-4.03,103.13,10,1900-10-26,3
10,264030,Rinjani,16213,Confirmed Eruption,Gunung Barujari,2,NaN,NaN,1900,NaN,...,NaN,12,NaN,2,NaN,-8.42,116.47,6,1900-11-30,3
11,263300,Semeru,13572,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,1,>,30,NaN,-8.108,112.92,10,1901-01-29,3
12,266030,Soputan,13584,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,1.112,124.737,6,1901-02-04,3
13,233020,Fournaise Piton de la,14307,Confirmed Eruption,East of Dolomieu,2,NaN,NaN,1901,NaN,...,NaN,2,NaN,25,NaN,-21.244,55.708,2,1901-02-21,3
14,357010,Tupungatito,11894,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,-33.425,-69.797,3,1901-04-01,3
15,265090,Banda Api,16418,Confirmed Eruption,Summit and north flank,2,NaN,NaN,1901,NaN,...,NaN,NaN,NaN,NaN,NaN,-4.523,129.881,6,1901-05-18,3
16,263280,Kelut,15952,Confirmed Eruption,NaN,3,NaN,NaN,1901,NaN,...,NaN,5,NaN,23,NaN,-7.93,112.308,10,1901-05-22,3
17,355070,San Pedro,11834,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,8,NaN,0,NaN,-21.88,-68.4,3,1901-05-25,3
18,264030,Rinjani,16214,Confirmed Eruption,Gunung Barujari,2,NaN,NaN,1901,NaN,...,NaN,6,NaN,2,NaN,-8.42,116.47,6,1901-06-01,3
19,233020,Fournaise Piton de la,14308,Confirmed Eruption,NE flank (above Piton de Crac),2,NaN,NaN,1901,NaN,...,NaN,7,NaN,6,NaN,-21.244,55.708,2,1901-07-04,3
20,300100,Avachinsky,19096,Confirmed Eruption,NaN,2,NaN,NaN,1901,NaN,...,NaN,7,NaN,13,NaN,53.256,158.836,7,1901-07-07,3
21,313030,Redoubt,20384,Confirmed Eruption,NaN,3,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,60.485,-152.742,5,1902-01-18,3
22,272020,Kanlaon,16727,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,10.412,123.132,6,1902-01-31,3
23,263250,Merapi,15890,Confirmed Eruption,NaN,1,NaN,NaN,1902,NaN,...,NaN,2,NaN,3,NaN,-7.542,110.442,10,1902-02-03,3
24,283110,Asamayama,17763,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,2,NaN,7,NaN,36.406,138.523,7,1902-02-07,3
25,332010,Kilauea,10071,Confirmed Eruption,Halemaumau,0,NaN,NaN,1902,NaN,...,NaN,2,NaN,0,NaN,19.421,-155.287,5,1902-02-14,3
26,263340,Raung,16120,Confirmed Eruption,NaN,2,NaN,NaN,1902,NaN,...,NaN,2,>,27,NaN,-8.119,114.056,6,1902-02-16,3
27,344090,Momotombo,11001,Confirmed Eruption,NaN,2,?,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,12.422,-86.54,14,1902-03-31,3
28,223020,Nyamuragira,14045,Confirmed Eruption,SSE fissure zone,0,NaN,NaN,1902,NaN,...,NaN,NaN,NaN,NaN,NaN,-1.408,29.2,9,1902-04-22,3
29,360120,Pelee,12430,Confirmed Eruption,Rivi�re Blanche and summit crater,4,NaN,NaN,1902,NaN,...,NaN,10,NaN,5,NaN,14.809,-61.165,14,1902-04-23,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,290390,Alaid,21096,Confirmed Eruption,NaN,0,NaN,NaN,2015,NaN,...,NaN,10,NaN,9,NaN,50.861,155.565,7,2015-10-02,3
3292,357090,Copahue,21098,Confirmed Eruption,Agrio Crater,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,26,NaN,-37.856,-71.183,3,2015-10-06,3
3293,345020,Rincon de la Vieja,22132,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,1,NaN,10.83,-85.324,14,2015-10-17,3
3294,345070,Turrialba,22109,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,10.025,-83.767,14,2015-10-23,3
3295,264030,Rinjani,22104,Confirmed Eruption,Barujari crater,2,NaN,NaN,2015,NaN,...,NaN,12,NaN,24,NaN,-8.42,116.47,6,2015-10-25,3
3296,355100,Lascar,22110,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,-23.37,-67.73,3,2015-10-30,3
3297,263310,Tengger Caldera,22103,Confirmed Eruption,Bromo cone,2,NaN,NaN,2015,NaN,...,NaN,5,NaN,24,NaN,-7.942,112.95,10,2015-11-12,3
3298,261140,Marapi,22111,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,11,NaN,14,NaN,-0.381,100.473,10,2015-11-14,3
3299,272020,Kanlaon,22106,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,31,NaN,10.412,123.132,6,2015-11-24,3
3300,344090,Momotombo,22107,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,7,NaN,12.422,-86.54,14,2015-12-01,3
3301,211060,Etna,22102,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,1,NaN,37.734,15.004,9,2015-12-02,3
3302,344100,Masaya,22108,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,19,NaN,11.984,-86.161,14,2015-12-11,3
3303,266030,Soputan,22105,Confirmed Eruption,NaN,3,NaN,NaN,2016,NaN,...,NaN,2,NaN,7,NaN,1.112,124.737,6,2016-01-02,3
3304,357070,Chill�n Nevados de,22119,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,9,NaN,-36.863,-71.377,3,2016-01-08,3
3305,343100,San Miguel,22117,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,1,NaN,18,NaN,13.434,-88.269,14,2016-01-12,3
3306,345070,Turrialba,22118,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,6,NaN,2,NaN,10.025,-83.767,14,2016-02-02,3
3307,290390,Alaid,22116,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,50.861,155.565,7,2016-02-21,3
3308,273010,Bulusan,22114,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2,NaN,22,NaN,12.77,124.05,6,2016-02-22,3
3309,255020,Bagana,22124,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,22,NaN,-6.137,155.196,11,2016-03-03,3
3310,282110,Asosan,22126,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,16,NaN,32.884,131.104,8,2016-03-04,3
3311,251020,Manam,22122,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,4,NaN,-4.08,145.037,11,2016-03-04,3
3312,312030,Pavlof,22129,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,55.417,-161.894,5,2016-03-27,3
3313,290360,Chikurachki,22127,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,31,NaN,50.324,155.461,7,2016-03-29,3
3314,261170,Kerinci,22125,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,4,NaN,-1.697,101.264,10,2016-03-31,3
3315,252010,Langila,22123,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,13,NaN,-5.525,148.42,11,2016-04-02,3
3316,357120,Villarrica,22134,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,3,NaN,-39.42,-71.93,3,2016-04-03,3
3317,311240,Cleveland,22128,Confirmed Eruption,NaN,0,NaN,NaN,2016,NaN,...,NaN,5,NaN,17,NaN,52.825,-169.944,5,2016-04-16,3
3318,344020,San Cristobal,22130,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,4,NaN,22,NaN,12.702,-87.004,14,2016-04-22,3
3319,390080,Bristol Island,22133,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,28,NaN,-59.017,-26.533,3,2016-04-24,3
3320,241040,White Island,22121,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,27,NaN,-37.52,177.18,11,2016-04-27,3

In [2]:
df = pd.read_csv('allquakeswnphase.csv', dtype=object)
#df['startdate'] = df.apply(lambda row: '{0}/{1}/{2}'.format(row['startyear'],row['startmonth'],row['startday']), axis=1)
df['startdate'] = pd.to_datetime(df.startdate)
df['Longitude'] = pd.to_numeric(df['Longitude'])
df['Latitude'] = pd.to_numeric(df['Latitude'])
from datetime import timedelta
df['enddate'] = df['startdate'] + timedelta(days=30)
#result['startdate'] = result['startdate'].dt.date
df = df.sort_values(by = ['startdate'])
df.index = range(len(df))
df

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,phase,phaseofmonth,enddate
0,5,0.0,57.0900,-153.4800,8.3,10,10,1900,1,1900-10-10,2,16,1900-11-09
1,5,0.0,60.0000,-135.0000,7.1,18,1,1901,1,1901-01-18,0,26,1901-02-17
2,5,0.0,52.0000,-160.0000,6.6,30,12,1901,1,1901-12-30,2,18,1902-01-29
3,5,0.0,51.4500,-171.0200,7.8,31,12,1901,1,1901-12-31,3,19,1902-01-30
4,5,0.0,52.3800,-167.4500,7.8,1,1,1902,1,1902-01-01,3,20,1902-01-31
5,5,0.0,50.8500,-175.1600,7.0,17,1,1903,1,1903-01-17,2,18,1903-02-16
6,5,0.0,52.0000,175.0000,6.8,5,2,1903,1,1903-02-05,1,7,1903-03-07
7,5,0.0,61.5600,-158.5400,8.3,2,6,1903,1,1903-06-02,1,6,1903-07-02
8,5,0.0,64.6200,-148.2300,7.8,27,8,1904,1,1904-08-27,2,15,1904-09-26
9,5,0.0,50.7300,-178.5500,7.7,14,2,1905,1,1905-02-14,1,9,1905-03-16
10,5,0.0,51.2800,174.8300,7.2,22,3,1905,1,1905-03-22,2,15,1905-04-21
11,7,0.0,52.0600,171.4500,7.4,15,9,1905,1,1905-09-15,2,15,1905-10-15
12,5,0.0,53.8800,-161.6800,7.0,10,12,1905,1,1905-12-10,2,13,1906-01-09
13,5,0.0,50.7700,179.7300,8.0,17,8,1906,1,1906-08-17,0,26,1906-09-16
14,5,0.0,53.0000,-165.0000,7.6,23,12,1906,1,1906-12-23,1,7,1907-01-22
15,5,120.0,57.0000,-161.0000,6.5,22,8,1907,1,1907-08-22,2,12,1907-09-21
16,7,0.0,52.4400,170.2800,7.7,2,9,1907,1,1907-09-02,3,23,1907-10-02
17,5,25.0,59.0000,-141.0000,7.1,15,5,1908,1,1908-05-15,2,14,1908-06-14
18,5,0.0,52.0000,175.0000,7.0,10,4,1909,1,1909-04-10,3,19,1909-05-10
19,5,90.0,52.5000,-169.0000,7.4,8,9,1909,1,1909-09-08,3,23,1909-10-08
20,5,0.0,60.0000,-149.5000,7.4,19,9,1909,1,1909-09-19,1,4,1909-10-19
21,5,100.0,57.0000,-160.0000,6.7,13,5,1910,1,1910-05-13,0,3,1910-06-12
22,0,NaN,42.0000,-127.0000,6.8,5,8,1910,1,1910-08-05,0,29,1910-09-04
23,5,25.0,50.7500,179.3800,7.3,9,9,1910,1,1910-09-09,1,5,1910-10-09
24,5,0.0,53.0000,-135.0000,6.8,6,11,1910,1,1910-11-06,0,3,1910-12-06
25,0,NaN,37.2500,-121.7500,6.6,1,7,1911,1,1911-07-01,1,4,1911-07-31
26,5,0.0,51.0000,180.0000,7.1,17,9,1911,1,1911-09-17,3,23,1911-10-17
27,5,60.0,60.5000,-149.0000,6.9,22,9,1911,1,1911-09-22,0,28,1911-10-22
28,7,0.0,52.0000,173.0000,7.0,13,11,1911,1,1911-11-13,3,21,1911-12-13
29,5,25.0,52.0000,-179.0000,7.1,4,1,1912,1,1912-01-04,2,14,1912-02-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
617829,11,591.48,-21.5410,-179.1091,4.6,4,7,2016,1,2016-07-04,0,28,2016-08-03
617830,7,34.99,52.5649,172.7571,5.3,4,7,2016,1,2016-07-04,0,28,2016-08-03
617831,13,10.0,39.5984,73.0680,4.2,4,7,2016,1,2016-07-04,0,28,2016-08-03
617832,3,93.55,-20.6978,-69.1784,4.7,4,7,2016,1,2016-07-04,0,28,2016-08-03
617833,0,31.94,16.6123,-97.8297,4.3,4,7,2016,1,2016-07-04,0,28,2016-08-03
617834,11,33.98,-22.6621,171.5415,4.8,4,7,2016,1,2016-07-04,0,28,2016-08-03
617835,11,6.56,-21.3093,168.6738,4.9,4,7,2016,1,2016-07-04,0,28,2016-08-03
617836,7,9.1,29.6131,143.3523,4.6,4,7,2016,1,2016-07-04,0,28,2016-08-03
617837,1,36.21,21.8613,145.3276,5.2,5,7,2016,1,2016-07-05,0,0,2016-08-04
617838,13,155.4,38.2305,73.6797,4.3,5,7,2016,1,2016-07-05,0,0,2016-08-04
617839,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,1,2016-07-05,0,0,2016-08-04
617840,0,9.11,36.1518,-89.6965,3.0,5,7,2016,1,2016-07-05,0,0,2016-08-04
617841,8,98.55,24.8082,95.2124,4.4,5,7,2016,1,2016-07-05,0,0,2016-08-04
617842,6,35.0,-0.2665,125.5466,4.5,5,7,2016,1,2016-07-05,0,0,2016-08-04
617843,6,35.0,-0.3386,125.4749,4.4,5,7,2016,1,2016-07-05,0,0,2016-08-04
617844,5,10.0,43.3325,-126.6572,3.1,5,7,2016,1,2016-07-05,0,0,2016-08-04
617845,7,10.0,35.5119,129.8661,4.8,5,7,2016,1,2016-07-05,0,0,2016-08-04
617846,13,10.0,39.4890,73.4459,4.4,5,7,2016,1,2016-07-05,0,0,2016-08-04
617847,11,10.0,-32.9270,-177.8664,5.2,5,7,2016,1,2016-07-05,0,0,2016-08-04
617848,6,192.36,2.0851,128.3228,4.3,5,7,2016,1,2016-07-05,0,0,2016-08-04
617849,0,5.0,37.3679,-98.2025,3.5,5,7,2016,1,2016-07-05,0,0,2016-08-04
617850,7,29.15,29.7514,142.1428,4.6,5,7,2016,1,2016-07-05,0,0,2016-08-04
617851,5,10.0,44.1651,-128.9059,4.3,5,7,2016,1,2016-07-05,0,0,2016-08-04
617852,7,21.26,35.7802,140.9868,4.4,5,7,2016,1,2016-07-05,0,0,2016-08-04
617853,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,1,2016-07-05,0,0,2016-08-04
617854,0,5.0,36.2626,-97.5821,3.5,5,7,2016,1,2016-07-05,0,0,2016-08-04
617855,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,1,2016-07-06,0,1,2016-08-05
617856,5,10.0,53.4488,-163.4493,3.8,6,7,2016,1,2016-07-06,0,1,2016-08-05
617857,11,257.05,-18.8947,169.4241,4.8,6,7,2016,1,2016-07-06,0,1,2016-08-05
617858,14,35.0,0.1660,-79.8907,4.3,6,7,2016,1,2016-07-06,0,1,2016-08-05

In [3]:
dff = df.copy()

In [4]:
from geopy.distance import great_circle
for i in range(0, len(df)-1): 
    df2 = df[(df['startdate'] >= df['startdate'][i]) & (df['startdate'] < df['enddate'][i]) & (df['Latitude'] >= df['Latitude'][i] - 2) & (df['Latitude'] < df['Latitude'][i] + 2)]
    if len(df2) >= 30:
        counter = 0
        l = []
        for j in range (i + 1 , i + len(df2)):
            if great_circle((df['Latitude'][i], df['Longitude'][i]), (df['Latitude'][j], df['Longitude'][j])).miles < 100:
                counter = counter + 1
                l.append(j)
        if counter >= 30:
            #print i
            #print counter
            #return index entry of df2[0]
            y = list(df2.index.values)[0]
            df['type'][y] = '2'
            df = df.drop(df.index[l])
            df.index = range(len(df))

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyError: 560268

In [7]:
df.to_csv('quakeswarm.csv',index = False)
df

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,phase,phaseofmonth,enddate
0,5,0.0,57.0900,-153.4800,8.3,10,10,1900,1,1900-10-10,2,16,1900-11-09
1,5,0.0,60.0000,-135.0000,7.1,18,1,1901,1,1901-01-18,0,26,1901-02-17
2,5,0.0,52.0000,-160.0000,6.6,30,12,1901,1,1901-12-30,2,18,1902-01-29
3,5,0.0,51.4500,-171.0200,7.8,31,12,1901,1,1901-12-31,3,19,1902-01-30
4,5,0.0,52.3800,-167.4500,7.8,1,1,1902,1,1902-01-01,3,20,1902-01-31
5,5,0.0,50.8500,-175.1600,7.0,17,1,1903,1,1903-01-17,2,18,1903-02-16
6,5,0.0,52.0000,175.0000,6.8,5,2,1903,1,1903-02-05,1,7,1903-03-07
7,5,0.0,61.5600,-158.5400,8.3,2,6,1903,1,1903-06-02,1,6,1903-07-02
8,5,0.0,64.6200,-148.2300,7.8,27,8,1904,1,1904-08-27,2,15,1904-09-26
9,5,0.0,50.7300,-178.5500,7.7,14,2,1905,1,1905-02-14,1,9,1905-03-16
10,5,0.0,51.2800,174.8300,7.2,22,3,1905,1,1905-03-22,2,15,1905-04-21
11,7,0.0,52.0600,171.4500,7.4,15,9,1905,1,1905-09-15,2,15,1905-10-15
12,5,0.0,53.8800,-161.6800,7.0,10,12,1905,1,1905-12-10,2,13,1906-01-09
13,5,0.0,50.7700,179.7300,8.0,17,8,1906,1,1906-08-17,0,26,1906-09-16
14,5,0.0,53.0000,-165.0000,7.6,23,12,1906,1,1906-12-23,1,7,1907-01-22
15,5,120.0,57.0000,-161.0000,6.5,22,8,1907,1,1907-08-22,2,12,1907-09-21
16,7,0.0,52.4400,170.2800,7.7,2,9,1907,1,1907-09-02,3,23,1907-10-02
17,5,25.0,59.0000,-141.0000,7.1,15,5,1908,1,1908-05-15,2,14,1908-06-14
18,5,0.0,52.0000,175.0000,7.0,10,4,1909,1,1909-04-10,3,19,1909-05-10
19,5,90.0,52.5000,-169.0000,7.4,8,9,1909,1,1909-09-08,3,23,1909-10-08
20,5,0.0,60.0000,-149.5000,7.4,19,9,1909,1,1909-09-19,1,4,1909-10-19
21,5,100.0,57.0000,-160.0000,6.7,13,5,1910,1,1910-05-13,0,3,1910-06-12
22,0,NaN,42.0000,-127.0000,6.8,5,8,1910,1,1910-08-05,0,29,1910-09-04
23,5,25.0,50.7500,179.3800,7.3,9,9,1910,1,1910-09-09,1,5,1910-10-09
24,5,0.0,53.0000,-135.0000,6.8,6,11,1910,1,1910-11-06,0,3,1910-12-06
25,0,NaN,37.2500,-121.7500,6.6,1,7,1911,1,1911-07-01,1,4,1911-07-31
26,5,0.0,51.0000,180.0000,7.1,17,9,1911,1,1911-09-17,3,23,1911-10-17
27,5,60.0,60.5000,-149.0000,6.9,22,9,1911,1,1911-09-22,0,28,1911-10-22
28,7,0.0,52.0000,173.0000,7.0,13,11,1911,1,1911-11-13,3,21,1911-12-13
29,5,25.0,52.0000,-179.0000,7.1,4,1,1912,1,1912-01-04,2,14,1912-02-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
560238,11,591.48,-21.5410,-179.1091,4.6,4,7,2016,1,2016-07-04,0,28,2016-08-03
560239,7,34.99,52.5649,172.7571,5.3,4,7,2016,1,2016-07-04,0,28,2016-08-03
560240,13,10.0,39.5984,73.0680,4.2,4,7,2016,1,2016-07-04,0,28,2016-08-03
560241,3,93.55,-20.6978,-69.1784,4.7,4,7,2016,1,2016-07-04,0,28,2016-08-03
560242,0,31.94,16.6123,-97.8297,4.3,4,7,2016,1,2016-07-04,0,28,2016-08-03
560243,11,33.98,-22.6621,171.5415,4.8,4,7,2016,1,2016-07-04,0,28,2016-08-03
560244,11,6.56,-21.3093,168.6738,4.9,4,7,2016,1,2016-07-04,0,28,2016-08-03
560245,7,9.1,29.6131,143.3523,4.6,4,7,2016,1,2016-07-04,0,28,2016-08-03
560246,1,36.21,21.8613,145.3276,5.2,5,7,2016,1,2016-07-05,0,0,2016-08-04
560247,13,155.4,38.2305,73.6797,4.3,5,7,2016,1,2016-07-05,0,0,2016-08-04
560248,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,1,2016-07-05,0,0,2016-08-04
560249,0,9.11,36.1518,-89.6965,3.0,5,7,2016,1,2016-07-05,0,0,2016-08-04
560250,8,98.55,24.8082,95.2124,4.4,5,7,2016,1,2016-07-05,0,0,2016-08-04
560251,6,35.0,-0.2665,125.5466,4.5,5,7,2016,1,2016-07-05,0,0,2016-08-04
560252,6,35.0,-0.3386,125.4749,4.4,5,7,2016,1,2016-07-05,0,0,2016-08-04
560253,5,10.0,43.3325,-126.6572,3.1,5,7,2016,1,2016-07-05,0,0,2016-08-04
560254,7,10.0,35.5119,129.8661,4.8,5,7,2016,1,2016-07-05,0,0,2016-08-04
560255,13,10.0,39.4890,73.4459,4.4,5,7,2016,1,2016-07-05,0,0,2016-08-04
560256,11,10.0,-32.9270,-177.8664,5.2,5,7,2016,1,2016-07-05,0,0,2016-08-04
560257,6,192.36,2.0851,128.3228,4.3,5,7,2016,1,2016-07-05,0,0,2016-08-04
560258,0,5.0,37.3679,-98.2025,3.5,5,7,2016,1,2016-07-05,0,0,2016-08-04
560259,7,29.15,29.7514,142.1428,4.6,5,7,2016,1,2016-07-05,0,0,2016-08-04
560260,5,10.0,44.1651,-128.9059,4.3,5,7,2016,1,2016-07-05,0,0,2016-08-04
560261,7,21.26,35.7802,140.9868,4.4,5,7,2016,1,2016-07-05,0,0,2016-08-04
560262,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,1,2016-07-05,0,0,2016-08-04
560263,0,5.0,36.2626,-97.5821,3.5,5,7,2016,1,2016-07-05,0,0,2016-08-04
560264,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,1,2016-07-06,0,1,2016-08-05
560265,5,10.0,53.4488,-163.4493,3.8,6,7,2016,1,2016-07-06,0,1,2016-08-05
560266,11,257.05,-18.8947,169.4241,4.8,6,7,2016,1,2016-07-06,0,1,2016-08-05
560267,14,35.0,0.1660,-79.8907,4.3,6,7,2016,1,2016-07-06,0,1,2016-08-05

In [8]:
df['mag'][df['type'] == '2'] = ''
df['depth'][df['type'] == '2'] = ''
df[df['type'] == '2']

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,phase,phaseofmonth,enddate
239,0,,33.2050,-116.4480,,13,2,1933,2,1933-02-13,2,18,1933-03-15
241,0,,34.3333,-119.5000,,7,3,1933,2,1933-03-07,1,10,1933-04-06
971,0,,33.1825,-116.2118,,9,3,1937,2,1937-03-09,3,25,1937-04-08
1447,0,,32.5467,-115.4233,,29,4,1940,2,1940-04-29,3,21,1940-05-29
1449,0,,33.9988,-116.3315,,7,5,1940,2,1940-05-07,0,29,1940-06-06
1461,0,,34.0150,-116.3488,,6,6,1940,2,1940-06-06,0,29,1940-07-06
1587,0,,35.4050,-119.2510,,4,6,1941,2,1941-06-04,1,8,1941-07-04
1859,0,,32.9753,-115.7853,,21,10,1942,2,1942-10-21,1,10,1942-11-20
2139,0,,34.0547,-117.5918,,7,6,1944,2,1944-06-07,2,15,1944-07-07
2379,0,,34.3227,-117.8298,,24,2,1946,2,1946-02-24,3,21,1946-03-26
2593,0,,34.8990,-116.3793,,18,3,1947,2,1947-03-18,3,24,1947-04-17
2655,0,,34.9582,-116.4385,,13,7,1947,2,1947-07-13,3,24,1947-08-12
2908,0,,35.0002,-116.9435,,10,11,1948,2,1948-11-10,1,8,1948-12-10
2998,0,,32.8468,-116.2360,,6,4,1949,2,1949-04-06,1,7,1949-05-06
3004,0,,34.1908,-115.3612,,3,5,1949,2,1949-05-03,1,4,1949-06-02
3146,0,,33.5103,-116.5703,,26,10,1949,2,1949-10-26,1,4,1949-11-25
3313,0,,33.9438,-117.8635,,7,7,1950,2,1950-07-07,3,21,1950-08-06
3409,0,,40.4800,-121.5000,,16,11,1950,2,1950-11-16,1,6,1950-12-16
3781,0,,34.2743,-119.7398,,1,7,1952,2,1952-07-01,1,8,1952-07-31
3790,0,,36.0088,-117.8423,,21,7,1952,2,1952-07-21,0,28,1952-08-20
3798,0,,35.2840,-118.5833,,19,8,1952,2,1952-08-19,0,28,1952-09-18
4444,0,,33.1280,-116.1255,,26,2,1954,2,1954-02-26,3,22,1954-03-28
4571,0,,38.8800,-119.5800,,14,6,1954,2,1954-06-14,2,12,1954-07-14
4675,0,,39.3000,-118.5000,,22,8,1954,2,1954-08-22,3,23,1954-09-21
4747,0,,39.5000,-118.5000,,13,12,1954,2,1954-12-13,2,17,1955-01-12
5082,0,,33.0185,-115.4970,,17,12,1955,2,1955-12-17,0,2,1956-01-16
6064,0,,40.1000,-119.2000,,15,3,1959,2,1959-03-15,1,5,1959-04-14
6382,5,,19.4712,-155.3187,,3,1,1960,2,1960-01-03,1,4,1960-02-02
6405,5,,19.4283,-155.2453,,28,1,1960,2,1960-01-28,0,29,1960-02-27
6419,5,,19.3960,-155.2995,,23,2,1960,2,1960-02-23,3,25,1960-03-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540833,11,,-5.2751,152.3387,,30,4,2015,2,2015-04-30,2,11,2015-05-30
540938,11,,-6.5185,154.3557,,3,5,2015,2,2015-05-03,2,14,2015-06-02
541048,11,,-6.4115,146.8728,,5,5,2015,2,2015-05-05,2,16,2015-06-04
541335,13,,28.0071,85.8270,,11,5,2015,2,2015-05-11,3,22,2015-06-10
544340,14,,19.2875,-65.1920,,12,7,2015,2,2015-07-12,3,25,2015-08-11
544596,14,,19.1348,-64.6912,,17,7,2015,2,2015-07-17,0,0,2015-08-16
545005,14,,19.2858,-68.1947,,26,7,2015,2,2015-07-26,1,9,2015-08-25
545058,5,,52.2377,-169.4218,,27,7,2015,2,2015-07-27,1,10,2015-08-26
545209,14,,19.7015,-65.6693,,1,8,2015,2,2015-08-01,2,15,2015-08-31
545404,14,,18.8877,-68.3935,,5,8,2015,2,2015-08-05,3,19,2015-09-04
546811,5,,51.3676,-169.1637,,3,9,2015,2,2015-09-03,3,19,2015-10-03
546877,14,,19.7172,-65.6947,,5,9,2015,2,2015-09-05,3,21,2015-10-05
546964,11,,-32.7311,-178.7425,,7,9,2015,2,2015-09-07,3,23,2015-10-07
547317,3,,-29.8210,-71.1970,,14,9,2015,2,2015-09-14,0,0,2015-10-14
547444,11,,-30.2078,-177.6729,,16,9,2015,2,2015-09-16,0,2,2015-10-16
547593,3,,-30.3796,-72.7513,,19,9,2015,2,2015-09-19,1,5,2015-10-19
547747,3,,-33.2726,-71.3036,,22,9,2015,2,2015-09-22,1,8,2015-10-22
547801,3,,-30.6048,-72.6716,,23,9,2015,2,2015-09-23,1,9,2015-10-23
547968,3,,-31.0080,-71.7454,,28,9,2015,2,2015-09-28,2,14,2015-10-28
549509,6,,-9.7659,124.8476,,3,11,2015,2,2015-11-03,3,20,2015-12-03
549754,10,,6.7934,94.3555,,8,11,2015,2,2015-11-08,3,25,2015-12-08
551311,6,,-4.1574,129.4333,,9,12,2015,2,2015-12-09,0,27,2016-01-08
552450,14,,18.8688,-66.3542,,4,1,2016,2,2016-01-04,3,23,2016-02-03
552543,0,,35.6596,-97.3904,,6,1,2016,2,2016-01-06,3,25,2016-02-05
553407,5,,59.7859,-153.0090,,24,1,2016,2,2016-01-24,2,13,2016-02-23
555564,5,,51.3980,-174.1190,,12,3,2016,2,2016-03-12,0,2,2016-04-11
556403,5,,57.0080,-157.9321,,2,4,2016,2,2016-04-02,3,23,2016-05-02
556413,11,,-15.1096,-173.6863,,2,4,2016,2,2016-04-02,3,23,2016-05-02
557049,8,,32.7805,130.7516,,14,4,2016,2,2016-04-14,1,6,2016-05-14
557140,0,,34.3642,-118.6447,,15,4,2016,2,2016-04-15,1,7,2016-05-15

In [9]:
del df['enddate']
df

,cluster,depth,Latitude,Longitude,mag,startday,startmonth,startyear,type,startdate,phase,phaseofmonth
0,5,0.0,57.0900,-153.4800,8.3,10,10,1900,1,1900-10-10,2,16
1,5,0.0,60.0000,-135.0000,7.1,18,1,1901,1,1901-01-18,0,26
2,5,0.0,52.0000,-160.0000,6.6,30,12,1901,1,1901-12-30,2,18
3,5,0.0,51.4500,-171.0200,7.8,31,12,1901,1,1901-12-31,3,19
4,5,0.0,52.3800,-167.4500,7.8,1,1,1902,1,1902-01-01,3,20
5,5,0.0,50.8500,-175.1600,7.0,17,1,1903,1,1903-01-17,2,18
6,5,0.0,52.0000,175.0000,6.8,5,2,1903,1,1903-02-05,1,7
7,5,0.0,61.5600,-158.5400,8.3,2,6,1903,1,1903-06-02,1,6
8,5,0.0,64.6200,-148.2300,7.8,27,8,1904,1,1904-08-27,2,15
9,5,0.0,50.7300,-178.5500,7.7,14,2,1905,1,1905-02-14,1,9
10,5,0.0,51.2800,174.8300,7.2,22,3,1905,1,1905-03-22,2,15
11,7,0.0,52.0600,171.4500,7.4,15,9,1905,1,1905-09-15,2,15
12,5,0.0,53.8800,-161.6800,7.0,10,12,1905,1,1905-12-10,2,13
13,5,0.0,50.7700,179.7300,8.0,17,8,1906,1,1906-08-17,0,26
14,5,0.0,53.0000,-165.0000,7.6,23,12,1906,1,1906-12-23,1,7
15,5,120.0,57.0000,-161.0000,6.5,22,8,1907,1,1907-08-22,2,12
16,7,0.0,52.4400,170.2800,7.7,2,9,1907,1,1907-09-02,3,23
17,5,25.0,59.0000,-141.0000,7.1,15,5,1908,1,1908-05-15,2,14
18,5,0.0,52.0000,175.0000,7.0,10,4,1909,1,1909-04-10,3,19
19,5,90.0,52.5000,-169.0000,7.4,8,9,1909,1,1909-09-08,3,23
20,5,0.0,60.0000,-149.5000,7.4,19,9,1909,1,1909-09-19,1,4
21,5,100.0,57.0000,-160.0000,6.7,13,5,1910,1,1910-05-13,0,3
22,0,NaN,42.0000,-127.0000,6.8,5,8,1910,1,1910-08-05,0,29
23,5,25.0,50.7500,179.3800,7.3,9,9,1910,1,1910-09-09,1,5
24,5,0.0,53.0000,-135.0000,6.8,6,11,1910,1,1910-11-06,0,3
25,0,NaN,37.2500,-121.7500,6.6,1,7,1911,1,1911-07-01,1,4
26,5,0.0,51.0000,180.0000,7.1,17,9,1911,1,1911-09-17,3,23
27,5,60.0,60.5000,-149.0000,6.9,22,9,1911,1,1911-09-22,0,28
28,7,0.0,52.0000,173.0000,7.0,13,11,1911,1,1911-11-13,3,21
29,5,25.0,52.0000,-179.0000,7.1,4,1,1912,1,1912-01-04,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...
560238,11,591.48,-21.5410,-179.1091,4.6,4,7,2016,1,2016-07-04,0,28
560239,7,34.99,52.5649,172.7571,5.3,4,7,2016,1,2016-07-04,0,28
560240,13,10.0,39.5984,73.0680,4.2,4,7,2016,1,2016-07-04,0,28
560241,3,93.55,-20.6978,-69.1784,4.7,4,7,2016,1,2016-07-04,0,28
560242,0,31.94,16.6123,-97.8297,4.3,4,7,2016,1,2016-07-04,0,28
560243,11,33.98,-22.6621,171.5415,4.8,4,7,2016,1,2016-07-04,0,28
560244,11,6.56,-21.3093,168.6738,4.9,4,7,2016,1,2016-07-04,0,28
560245,7,9.1,29.6131,143.3523,4.6,4,7,2016,1,2016-07-04,0,28
560246,1,36.21,21.8613,145.3276,5.2,5,7,2016,1,2016-07-05,0,0
560247,13,155.4,38.2305,73.6797,4.3,5,7,2016,1,2016-07-05,0,0
560248,3,11.2,-20.1948,-70.9115,5.0,5,7,2016,1,2016-07-05,0,0
560249,0,9.11,36.1518,-89.6965,3.0,5,7,2016,1,2016-07-05,0,0
560250,8,98.55,24.8082,95.2124,4.4,5,7,2016,1,2016-07-05,0,0
560251,6,35.0,-0.2665,125.5466,4.5,5,7,2016,1,2016-07-05,0,0
560252,6,35.0,-0.3386,125.4749,4.4,5,7,2016,1,2016-07-05,0,0
560253,5,10.0,43.3325,-126.6572,3.1,5,7,2016,1,2016-07-05,0,0
560254,7,10.0,35.5119,129.8661,4.8,5,7,2016,1,2016-07-05,0,0
560255,13,10.0,39.4890,73.4459,4.4,5,7,2016,1,2016-07-05,0,0
560256,11,10.0,-32.9270,-177.8664,5.2,5,7,2016,1,2016-07-05,0,0
560257,6,192.36,2.0851,128.3228,4.3,5,7,2016,1,2016-07-05,0,0
560258,0,5.0,37.3679,-98.2025,3.5,5,7,2016,1,2016-07-05,0,0
560259,7,29.15,29.7514,142.1428,4.6,5,7,2016,1,2016-07-05,0,0
560260,5,10.0,44.1651,-128.9059,4.3,5,7,2016,1,2016-07-05,0,0
560261,7,21.26,35.7802,140.9868,4.4,5,7,2016,1,2016-07-05,0,0
560262,3,39.51,-41.6855,-74.0542,4.3,5,7,2016,1,2016-07-05,0,0
560263,0,5.0,36.2626,-97.5821,3.5,5,7,2016,1,2016-07-05,0,0
560264,4,10.0,-56.8016,-142.1336,5.9,6,7,2016,1,2016-07-06,0,1
560265,5,10.0,53.4488,-163.4493,3.8,6,7,2016,1,2016-07-06,0,1
560266,11,257.05,-18.8947,169.4241,4.8,6,7,2016,1,2016-07-06,0,1
560267,14,35.0,0.1660,-79.8907,4.3,6,7,2016,1,2016-07-06,0,1

In [13]:
df.to_csv('quakeswarm.csv', index = False)

In [14]:
df_eq = df.iloc[:,(0,-2,-3,-4,1,2,3,4)]
df_vo = df1.iloc[:,(-3,-1,-2,5,-5,-4)]
frames = [df_eq, df_vo]
result = pd.concat(frames)
result['sequence']=result['type'] + result['cluster'].map(str)
result = result.sort_values(by = ['startdate', 'sequence'])
result.index = range(len(result))
result['scale'] = ''
result['mag'] = pd.to_numeric(result['mag'])
result

,Latitude,Longitude,VEI,cluster,depth,mag,phase,startdate,type,sequence,scale
0,-38.12,176.5,1,11,NaN,NaN,NaN,1900-01-01,3,311,
1,36.406,138.523,2,7,NaN,NaN,NaN,1900-01-22,3,37,
2,13.257,123.685,2,8,NaN,NaN,NaN,1900-03-01,3,38,
3,-8.108,112.92,2,10,NaN,NaN,NaN,1900-03-29,3,310,
4,-21.244,55.708,0,2,NaN,NaN,NaN,1900-05-11,3,32,
5,62.006,-144.017,2,5,NaN,NaN,NaN,1900-06-01,3,35,
6,-4.03,103.13,2,10,NaN,NaN,NaN,1900-06-04,3,310,
7,37.647,140.281,2,7,NaN,NaN,NaN,1900-07-17,3,37,
8,36.618,138.528,1,7,NaN,NaN,NaN,1900-10-01,3,37,
9,57.09,-153.48,NaN,5,0.0,8.3,2,1900-10-10,1,15,
10,-4.03,103.13,2,10,NaN,NaN,NaN,1900-10-26,3,310,
11,-8.42,116.47,2,6,NaN,NaN,NaN,1900-11-30,3,36,
12,60,-135,NaN,5,0.0,7.1,0,1901-01-18,1,15,
13,-8.108,112.92,2,10,NaN,NaN,NaN,1901-01-29,3,310,
14,1.112,124.737,2,6,NaN,NaN,NaN,1901-02-04,3,36,
15,-21.244,55.708,2,2,NaN,NaN,NaN,1901-02-21,3,32,
16,-33.425,-69.797,2,3,NaN,NaN,NaN,1901-04-01,3,33,
17,-4.523,129.881,2,6,NaN,NaN,NaN,1901-05-18,3,36,
18,-7.93,112.308,3,10,NaN,NaN,NaN,1901-05-22,3,310,
19,-21.88,-68.4,2,3,NaN,NaN,NaN,1901-05-25,3,33,
20,-8.42,116.47,2,6,NaN,NaN,NaN,1901-06-01,3,36,
21,-21.244,55.708,2,2,NaN,NaN,NaN,1901-07-04,3,32,
22,53.256,158.836,2,7,NaN,NaN,NaN,1901-07-07,3,37,
23,52,-160,NaN,5,0.0,6.6,2,1901-12-30,1,15,
24,51.45,-171.02,NaN,5,0.0,7.8,3,1901-12-31,1,15,
25,52.38,-167.45,NaN,5,0.0,7.8,3,1902-01-01,1,15,
26,60.485,-152.742,3,5,NaN,NaN,NaN,1902-01-18,3,35,
27,10.412,123.132,2,6,NaN,NaN,NaN,1902-01-31,3,36,
28,-7.542,110.442,1,10,NaN,NaN,NaN,1902-02-03,3,310,
29,36.406,138.523,2,7,NaN,NaN,NaN,1902-02-07,3,37,
...,...,...,...,...,...,...,...,...,...,...,...
563559,36.1361,139.705,NaN,7,48.58,4.5,0,2016-07-04,1,17,
563560,46.5141,152.794,NaN,7,50.93,4.6,0,2016-07-04,1,17,
563561,46.8062,152.879,NaN,7,35.0,4.4,0,2016-07-04,1,17,
563562,52.5649,172.757,NaN,7,34.99,5.3,0,2016-07-04,1,17,
563563,29.6131,143.352,NaN,7,9.1,4.6,0,2016-07-04,1,17,
563564,29.2387,129.475,NaN,8,39.32,4.7,0,2016-07-04,1,18,
563565,29.0458,129.282,NaN,8,37.53,4.7,0,2016-07-04,1,18,
563566,-0.5323,-12.6569,NaN,9,10.0,4.9,0,2016-07-04,1,19,
563567,36.1518,-89.6965,NaN,0,9.11,3.0,0,2016-07-05,1,10,
563568,37.3679,-98.2025,NaN,0,5.0,3.5,0,2016-07-05,1,10,
563569,36.2626,-97.5821,NaN,0,5.0,3.5,0,2016-07-05,1,10,
563570,21.8613,145.328,NaN,1,36.21,5.2,0,2016-07-05,1,11,
563571,-32.927,-177.866,NaN,11,10.0,5.2,0,2016-07-05,1,111,
563572,38.2305,73.6797,NaN,13,155.4,4.3,0,2016-07-05,1,113,
563573,39.489,73.4459,NaN,13,10.0,4.4,0,2016-07-05,1,113,
563574,-20.1948,-70.9115,NaN,3,11.2,5.0,0,2016-07-05,1,13,
563575,-41.6855,-74.0542,NaN,3,39.51,4.3,0,2016-07-05,1,13,
563576,43.3325,-126.657,NaN,5,10.0,3.1,0,2016-07-05,1,15,
563577,44.1651,-128.906,NaN,5,10.0,4.3,0,2016-07-05,1,15,
563578,-0.2665,125.547,NaN,6,35.0,4.5,0,2016-07-05,1,16,
563579,-0.3386,125.475,NaN,6,35.0,4.4,0,2016-07-05,1,16,
563580,2.0851,128.323,NaN,6,192.36,4.3,0,2016-07-05,1,16,
563581,35.5119,129.866,NaN,7,10.0,4.8,0,2016-07-05,1,17,
563582,29.7514,142.143,NaN,7,29.15,4.6,0,2016-07-05,1,17,
563583,35.7802,140.987,NaN,7,21.26,4.4,0,2016-07-05,1,17,
563584,24.8082,95.2124,NaN,8,98.55,4.4,0,2016-07-05,1,18,
563585,-18.8947,169.424,NaN,11,257.05,4.8,0,2016-07-06,1,111,
563586,0.166,-79.8907,NaN,14,35.0,4.3,0,2016-07-06,1,114,
563587,-56.8016,-142.134,NaN,4,10.0,5.9,0,2016-07-06,1,14,
563588,53.4488,-163.449,NaN,5,10.0,3.8,0,2016-07-06,1,15,

In [15]:
result['scale'][result['mag']<4] = '0'
result['scale'][(result['mag']>=4) & (result['mag']<4.5)] = '1'
result['scale'][result['mag']>=4.5] = '2'
result['depth'] = pd.to_numeric(result['depth'])
result['dep'] = ''
result['dep'][result['depth']<70] = '0'
result['dep'][(result['depth']>= 70)&(result['depth']<300)] = '1'
result['dep'][result['depth']>=300] = '2'
result['cluster'] = result['cluster'].str.zfill(2)
result

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Latitude,Longitude,VEI,cluster,depth,mag,phase,startdate,type,sequence,scale,dep
0,-38.12,176.5,1,11,NaN,NaN,NaN,1900-01-01,3,311,,
1,36.406,138.523,2,07,NaN,NaN,NaN,1900-01-22,3,37,,
2,13.257,123.685,2,08,NaN,NaN,NaN,1900-03-01,3,38,,
3,-8.108,112.92,2,10,NaN,NaN,NaN,1900-03-29,3,310,,
4,-21.244,55.708,0,02,NaN,NaN,NaN,1900-05-11,3,32,,
5,62.006,-144.017,2,05,NaN,NaN,NaN,1900-06-01,3,35,,
6,-4.03,103.13,2,10,NaN,NaN,NaN,1900-06-04,3,310,,
7,37.647,140.281,2,07,NaN,NaN,NaN,1900-07-17,3,37,,
8,36.618,138.528,1,07,NaN,NaN,NaN,1900-10-01,3,37,,
9,57.09,-153.48,NaN,05,0.00,8.3,2,1900-10-10,1,15,2,0
10,-4.03,103.13,2,10,NaN,NaN,NaN,1900-10-26,3,310,,
11,-8.42,116.47,2,06,NaN,NaN,NaN,1900-11-30,3,36,,
12,60,-135,NaN,05,0.00,7.1,0,1901-01-18,1,15,2,0
13,-8.108,112.92,2,10,NaN,NaN,NaN,1901-01-29,3,310,,
14,1.112,124.737,2,06,NaN,NaN,NaN,1901-02-04,3,36,,
15,-21.244,55.708,2,02,NaN,NaN,NaN,1901-02-21,3,32,,
16,-33.425,-69.797,2,03,NaN,NaN,NaN,1901-04-01,3,33,,
17,-4.523,129.881,2,06,NaN,NaN,NaN,1901-05-18,3,36,,
18,-7.93,112.308,3,10,NaN,NaN,NaN,1901-05-22,3,310,,
19,-21.88,-68.4,2,03,NaN,NaN,NaN,1901-05-25,3,33,,
20,-8.42,116.47,2,06,NaN,NaN,NaN,1901-06-01,3,36,,
21,-21.244,55.708,2,02,NaN,NaN,NaN,1901-07-04,3,32,,
22,53.256,158.836,2,07,NaN,NaN,NaN,1901-07-07,3,37,,
23,52,-160,NaN,05,0.00,6.6,2,1901-12-30,1,15,2,0
24,51.45,-171.02,NaN,05,0.00,7.8,3,1901-12-31,1,15,2,0
25,52.38,-167.45,NaN,05,0.00,7.8,3,1902-01-01,1,15,2,0
26,60.485,-152.742,3,05,NaN,NaN,NaN,1902-01-18,3,35,,
27,10.412,123.132,2,06,NaN,NaN,NaN,1902-01-31,3,36,,
28,-7.542,110.442,1,10,NaN,NaN,NaN,1902-02-03,3,310,,
29,36.406,138.523,2,07,NaN,NaN,NaN,1902-02-07,3,37,,
...,...,...,...,...,...,...,...,...,...,...,...,...
563559,36.1361,139.705,NaN,07,48.58,4.5,0,2016-07-04,1,17,2,0
563560,46.5141,152.794,NaN,07,50.93,4.6,0,2016-07-04,1,17,2,0
563561,46.8062,152.879,NaN,07,35.00,4.4,0,2016-07-04,1,17,1,0
563562,52.5649,172.757,NaN,07,34.99,5.3,0,2016-07-04,1,17,2,0
563563,29.6131,143.352,NaN,07,9.10,4.6,0,2016-07-04,1,17,2,0
563564,29.2387,129.475,NaN,08,39.32,4.7,0,2016-07-04,1,18,2,0
563565,29.0458,129.282,NaN,08,37.53,4.7,0,2016-07-04,1,18,2,0
563566,-0.5323,-12.6569,NaN,09,10.00,4.9,0,2016-07-04,1,19,2,0
563567,36.1518,-89.6965,NaN,00,9.11,3.0,0,2016-07-05,1,10,0,0
563568,37.3679,-98.2025,NaN,00,5.00,3.5,0,2016-07-05,1,10,0,0
563569,36.2626,-97.5821,NaN,00,5.00,3.5,0,2016-07-05,1,10,0,0
563570,21.8613,145.328,NaN,01,36.21,5.2,0,2016-07-05,1,11,2,0
563571,-32.927,-177.866,NaN,11,10.00,5.2,0,2016-07-05,1,111,2,0
563572,38.2305,73.6797,NaN,13,155.40,4.3,0,2016-07-05,1,113,1,1
563573,39.489,73.4459,NaN,13,10.00,4.4,0,2016-07-05,1,113,1,0
563574,-20.1948,-70.9115,NaN,03,11.20,5.0,0,2016-07-05,1,13,2,0
563575,-41.6855,-74.0542,NaN,03,39.51,4.3,0,2016-07-05,1,13,1,0
563576,43.3325,-126.657,NaN,05,10.00,3.1,0,2016-07-05,1,15,0,0
563577,44.1651,-128.906,NaN,05,10.00,4.3,0,2016-07-05,1,15,1,0
563578,-0.2665,125.547,NaN,06,35.00,4.5,0,2016-07-05,1,16,2,0
563579,-0.3386,125.475,NaN,06,35.00,4.4,0,2016-07-05,1,16,1,0
563580,2.0851,128.323,NaN,06,192.36,4.3,0,2016-07-05,1,16,1,1
563581,35.5119,129.866,NaN,07,10.00,4.8,0,2016-07-05,1,17,2,0
563582,29.7514,142.143,NaN,07,29.15,4.6,0,2016-07-05,1,17,2,0
563583,35.7802,140.987,NaN,07,21.26,4.4,0,2016-07-05,1,17,1,0
563584,24.8082,95.2124,NaN,08,98.55,4.4,0,2016-07-05,1,18,1,1
563585,-18.8947,169.424,NaN,11,257.05,4.8,0,2016-07-06,1,111,2,1
563586,0.166,-79.8907,NaN,14,35.00,4.3,0,2016-07-06,1,114,1,0
563587,-56.8016,-142.134,NaN,04,10.00,5.9,0,2016-07-06,1,14,2,0
563588,53.4488,-163.449,NaN,05,10.00,3.8,0,2016-07-06,1,15,0,0

In [16]:
del result['sequence']
result['sequence'] = ''
result['sequence'] = result['type'] + result['cluster'] + result['scale'] + result['dep']
result

,Latitude,Longitude,VEI,cluster,depth,mag,phase,startdate,type,scale,dep,sequence
0,-38.12,176.5,1,11,NaN,NaN,NaN,1900-01-01,3,,,311
1,36.406,138.523,2,07,NaN,NaN,NaN,1900-01-22,3,,,307
2,13.257,123.685,2,08,NaN,NaN,NaN,1900-03-01,3,,,308
3,-8.108,112.92,2,10,NaN,NaN,NaN,1900-03-29,3,,,310
4,-21.244,55.708,0,02,NaN,NaN,NaN,1900-05-11,3,,,302
5,62.006,-144.017,2,05,NaN,NaN,NaN,1900-06-01,3,,,305
6,-4.03,103.13,2,10,NaN,NaN,NaN,1900-06-04,3,,,310
7,37.647,140.281,2,07,NaN,NaN,NaN,1900-07-17,3,,,307
8,36.618,138.528,1,07,NaN,NaN,NaN,1900-10-01,3,,,307
9,57.09,-153.48,NaN,05,0.00,8.3,2,1900-10-10,1,2,0,10520
10,-4.03,103.13,2,10,NaN,NaN,NaN,1900-10-26,3,,,310
11,-8.42,116.47,2,06,NaN,NaN,NaN,1900-11-30,3,,,306
12,60,-135,NaN,05,0.00,7.1,0,1901-01-18,1,2,0,10520
13,-8.108,112.92,2,10,NaN,NaN,NaN,1901-01-29,3,,,310
14,1.112,124.737,2,06,NaN,NaN,NaN,1901-02-04,3,,,306
15,-21.244,55.708,2,02,NaN,NaN,NaN,1901-02-21,3,,,302
16,-33.425,-69.797,2,03,NaN,NaN,NaN,1901-04-01,3,,,303
17,-4.523,129.881,2,06,NaN,NaN,NaN,1901-05-18,3,,,306
18,-7.93,112.308,3,10,NaN,NaN,NaN,1901-05-22,3,,,310
19,-21.88,-68.4,2,03,NaN,NaN,NaN,1901-05-25,3,,,303
20,-8.42,116.47,2,06,NaN,NaN,NaN,1901-06-01,3,,,306
21,-21.244,55.708,2,02,NaN,NaN,NaN,1901-07-04,3,,,302
22,53.256,158.836,2,07,NaN,NaN,NaN,1901-07-07,3,,,307
23,52,-160,NaN,05,0.00,6.6,2,1901-12-30,1,2,0,10520
24,51.45,-171.02,NaN,05,0.00,7.8,3,1901-12-31,1,2,0,10520
25,52.38,-167.45,NaN,05,0.00,7.8,3,1902-01-01,1,2,0,10520
26,60.485,-152.742,3,05,NaN,NaN,NaN,1902-01-18,3,,,305
27,10.412,123.132,2,06,NaN,NaN,NaN,1902-01-31,3,,,306
28,-7.542,110.442,1,10,NaN,NaN,NaN,1902-02-03,3,,,310
29,36.406,138.523,2,07,NaN,NaN,NaN,1902-02-07,3,,,307
...,...,...,...,...,...,...,...,...,...,...,...,...
563559,36.1361,139.705,NaN,07,48.58,4.5,0,2016-07-04,1,2,0,10720
563560,46.5141,152.794,NaN,07,50.93,4.6,0,2016-07-04,1,2,0,10720
563561,46.8062,152.879,NaN,07,35.00,4.4,0,2016-07-04,1,1,0,10710
563562,52.5649,172.757,NaN,07,34.99,5.3,0,2016-07-04,1,2,0,10720
563563,29.6131,143.352,NaN,07,9.10,4.6,0,2016-07-04,1,2,0,10720
563564,29.2387,129.475,NaN,08,39.32,4.7,0,2016-07-04,1,2,0,10820
563565,29.0458,129.282,NaN,08,37.53,4.7,0,2016-07-04,1,2,0,10820
563566,-0.5323,-12.6569,NaN,09,10.00,4.9,0,2016-07-04,1,2,0,10920
563567,36.1518,-89.6965,NaN,00,9.11,3.0,0,2016-07-05,1,0,0,10000
563568,37.3679,-98.2025,NaN,00,5.00,3.5,0,2016-07-05,1,0,0,10000
563569,36.2626,-97.5821,NaN,00,5.00,3.5,0,2016-07-05,1,0,0,10000
563570,21.8613,145.328,NaN,01,36.21,5.2,0,2016-07-05,1,2,0,10120
563571,-32.927,-177.866,NaN,11,10.00,5.2,0,2016-07-05,1,2,0,11120
563572,38.2305,73.6797,NaN,13,155.40,4.3,0,2016-07-05,1,1,1,11311
563573,39.489,73.4459,NaN,13,10.00,4.4,0,2016-07-05,1,1,0,11310
563574,-20.1948,-70.9115,NaN,03,11.20,5.0,0,2016-07-05,1,2,0,10320
563575,-41.6855,-74.0542,NaN,03,39.51,4.3,0,2016-07-05,1,1,0,10310
563576,43.3325,-126.657,NaN,05,10.00,3.1,0,2016-07-05,1,0,0,10500
563577,44.1651,-128.906,NaN,05,10.00,4.3,0,2016-07-05,1,1,0,10510
563578,-0.2665,125.547,NaN,06,35.00,4.5,0,2016-07-05,1,2,0,10620
563579,-0.3386,125.475,NaN,06,35.00,4.4,0,2016-07-05,1,1,0,10610
563580,2.0851,128.323,NaN,06,192.36,4.3,0,2016-07-05,1,1,1,10611
563581,35.5119,129.866,NaN,07,10.00,4.8,0,2016-07-05,1,2,0,10720
563582,29.7514,142.143,NaN,07,29.15,4.6,0,2016-07-05,1,2,0,10720
563583,35.7802,140.987,NaN,07,21.26,4.4,0,2016-07-05,1,1,0,10710
563584,24.8082,95.2124,NaN,08,98.55,4.4,0,2016-07-05,1,1,1,10811
563585,-18.8947,169.424,NaN,11,257.05,4.8,0,2016-07-06,1,2,1,11121
563586,0.166,-79.8907,NaN,14,35.00,4.3,0,2016-07-06,1,1,0,11410
563587,-56.8016,-142.134,NaN,04,10.00,5.9,0,2016-07-06,1,2,0,10420
563588,53.4488,-163.449,NaN,05,10.00,3.8,0,2016-07-06,1,0,0,10500

In [20]:
result.to_csv('numberseq.csv', index = False)

In [17]:
del result['phase']

In [19]:
#result[result['Latitude'] == 42.181000000000004]
#result.round({'Latitude': 3, 'Longitude': 3})
result['Latitude'] = pd.to_numeric(result['Latitude'])
result['Longitude'] = pd.to_numeric(result['Longitude'])
result.round({'Latitude': 3, 'Longitude': 3})

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence
0,-38.120,176.500,1,11,NaN,NaN,1900-01-01,3,,,311
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,3,,,307
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,3,,,308
3,-8.108,112.920,2,10,NaN,NaN,1900-03-29,3,,,310
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,3,,,302
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,3,,,305
6,-4.030,103.130,2,10,NaN,NaN,1900-06-04,3,,,310
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,3,,,307
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,3,,,307
9,57.090,-153.480,NaN,05,0.00,8.3,1900-10-10,1,2,0,10520
10,-4.030,103.130,2,10,NaN,NaN,1900-10-26,3,,,310
11,-8.420,116.470,2,06,NaN,NaN,1900-11-30,3,,,306
12,60.000,-135.000,NaN,05,0.00,7.1,1901-01-18,1,2,0,10520
13,-8.108,112.920,2,10,NaN,NaN,1901-01-29,3,,,310
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,3,,,306
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,3,,,302
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,3,,,303
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,3,,,306
18,-7.930,112.308,3,10,NaN,NaN,1901-05-22,3,,,310
19,-21.880,-68.400,2,03,NaN,NaN,1901-05-25,3,,,303
20,-8.420,116.470,2,06,NaN,NaN,1901-06-01,3,,,306
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,3,,,302
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,3,,,307
23,52.000,-160.000,NaN,05,0.00,6.6,1901-12-30,1,2,0,10520
24,51.450,-171.020,NaN,05,0.00,7.8,1901-12-31,1,2,0,10520
25,52.380,-167.450,NaN,05,0.00,7.8,1902-01-01,1,2,0,10520
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,3,,,305
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,3,,,306
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,3,,,310
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,3,,,307
...,...,...,...,...,...,...,...,...,...,...,...
563559,36.136,139.705,NaN,07,48.58,4.5,2016-07-04,1,2,0,10720
563560,46.514,152.794,NaN,07,50.93,4.6,2016-07-04,1,2,0,10720
563561,46.806,152.878,NaN,07,35.00,4.4,2016-07-04,1,1,0,10710
563562,52.565,172.757,NaN,07,34.99,5.3,2016-07-04,1,2,0,10720
563563,29.613,143.352,NaN,07,9.10,4.6,2016-07-04,1,2,0,10720
563564,29.239,129.475,NaN,08,39.32,4.7,2016-07-04,1,2,0,10820
563565,29.046,129.282,NaN,08,37.53,4.7,2016-07-04,1,2,0,10820
563566,-0.532,-12.657,NaN,09,10.00,4.9,2016-07-04,1,2,0,10920
563567,36.152,-89.696,NaN,00,9.11,3.0,2016-07-05,1,0,0,10000
563568,37.368,-98.202,NaN,00,5.00,3.5,2016-07-05,1,0,0,10000
563569,36.263,-97.582,NaN,00,5.00,3.5,2016-07-05,1,0,0,10000
563570,21.861,145.328,NaN,01,36.21,5.2,2016-07-05,1,2,0,10120
563571,-32.927,-177.866,NaN,11,10.00,5.2,2016-07-05,1,2,0,11120
563572,38.230,73.680,NaN,13,155.40,4.3,2016-07-05,1,1,1,11311
563573,39.489,73.446,NaN,13,10.00,4.4,2016-07-05,1,1,0,11310
563574,-20.195,-70.912,NaN,03,11.20,5.0,2016-07-05,1,2,0,10320
563575,-41.686,-74.054,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310
563576,43.332,-126.657,NaN,05,10.00,3.1,2016-07-05,1,0,0,10500
563577,44.165,-128.906,NaN,05,10.00,4.3,2016-07-05,1,1,0,10510
563578,-0.266,125.547,NaN,06,35.00,4.5,2016-07-05,1,2,0,10620
563579,-0.339,125.475,NaN,06,35.00,4.4,2016-07-05,1,1,0,10610
563580,2.085,128.323,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611
563581,35.512,129.866,NaN,07,10.00,4.8,2016-07-05,1,2,0,10720
563582,29.751,142.143,NaN,07,29.15,4.6,2016-07-05,1,2,0,10720
563583,35.780,140.987,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710
563584,24.808,95.212,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811
563585,-18.895,169.424,NaN,11,257.05,4.8,2016-07-06,1,2,1,11121
563586,0.166,-79.891,NaN,14,35.00,4.3,2016-07-06,1,1,0,11410
563587,-56.802,-142.134,NaN,04,10.00,5.9,2016-07-06,1,2,0,10420
563588,53.449,-163.449,NaN,05,10.00,3.8,2016-07-06,1,0,0,10500

In [21]:
from datetime import datetime
import ephem

def get_phase_on_day(date):
    d = ephem.Date(date)
    pnm = ephem.previous_new_moon(date)
    lunation = int(d - pnm)
    if lunation in range(4, 11):
        return 1
    elif lunation in range (11, 19):
        return 2
    elif lunation in range (19, 27):
        return 3
    else:
        return 0
    #return lunation

result['startdate'] = pd.to_datetime(result.startdate)
result['startdate'] = result['startdate'].dt.date
result['phase'] = ''
for i in range(0, len(result)):
    result['phase'][i] = get_phase_on_day(result['startdate'][i])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
result.to_csv('numberseq.csv', index = False)
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence,phase
0,-38.1200,176.5000,1,11,NaN,NaN,1900-01-01,3,,,311,0
1,36.4060,138.5230,2,07,NaN,NaN,1900-01-22,3,,,307,3
2,13.2570,123.6850,2,08,NaN,NaN,1900-03-01,3,,,308,0
3,-8.1080,112.9200,2,10,NaN,NaN,1900-03-29,3,,,310,0
4,-21.2440,55.7080,0,02,NaN,NaN,1900-05-11,3,,,302,2
5,62.0060,-144.0170,2,05,NaN,NaN,1900-06-01,3,,,305,0
6,-4.0300,103.1300,2,10,NaN,NaN,1900-06-04,3,,,310,1
7,37.6470,140.2810,2,07,NaN,NaN,1900-07-17,3,,,307,3
8,36.6180,138.5280,1,07,NaN,NaN,1900-10-01,3,,,307,1
9,57.0900,-153.4800,NaN,05,0.00,8.3,1900-10-10,1,2,0,10520,2
10,-4.0300,103.1300,2,10,NaN,NaN,1900-10-26,3,,,310,0
11,-8.4200,116.4700,2,06,NaN,NaN,1900-11-30,3,,,306,1
12,60.0000,-135.0000,NaN,05,0.00,7.1,1901-01-18,1,2,0,10520,3
13,-8.1080,112.9200,2,10,NaN,NaN,1901-01-29,3,,,310,1
14,1.1120,124.7370,2,06,NaN,NaN,1901-02-04,3,,,306,2
15,-21.2440,55.7080,2,02,NaN,NaN,1901-02-21,3,,,302,0
16,-33.4250,-69.7970,2,03,NaN,NaN,1901-04-01,3,,,303,2
17,-4.5230,129.8810,2,06,NaN,NaN,1901-05-18,3,,,306,0
18,-7.9300,112.3080,3,10,NaN,NaN,1901-05-22,3,,,310,0
19,-21.8800,-68.4000,2,03,NaN,NaN,1901-05-25,3,,,303,1
20,-8.4200,116.4700,2,06,NaN,NaN,1901-06-01,3,,,306,2
21,-21.2440,55.7080,2,02,NaN,NaN,1901-07-04,3,,,302,2
22,53.2560,158.8360,2,07,NaN,NaN,1901-07-07,3,,,307,3
23,52.0000,-160.0000,NaN,05,0.00,6.6,1901-12-30,1,2,0,10520,2
24,51.4500,-171.0200,NaN,05,0.00,7.8,1901-12-31,1,2,0,10520,3
25,52.3800,-167.4500,NaN,05,0.00,7.8,1902-01-01,1,2,0,10520,3
26,60.4850,-152.7420,3,05,NaN,NaN,1902-01-18,3,,,305,1
27,10.4120,123.1320,2,06,NaN,NaN,1902-01-31,3,,,306,3
28,-7.5420,110.4420,1,10,NaN,NaN,1902-02-03,3,,,310,3
29,36.4060,138.5230,2,07,NaN,NaN,1902-02-07,3,,,307,0
...,...,...,...,...,...,...,...,...,...,...,...,...
563559,36.1361,139.7050,NaN,07,48.58,4.5,2016-07-04,1,2,0,10720,0
563560,46.5141,152.7939,NaN,07,50.93,4.6,2016-07-04,1,2,0,10720,0
563561,46.8062,152.8785,NaN,07,35.00,4.4,2016-07-04,1,1,0,10710,0
563562,52.5649,172.7571,NaN,07,34.99,5.3,2016-07-04,1,2,0,10720,0
563563,29.6131,143.3523,NaN,07,9.10,4.6,2016-07-04,1,2,0,10720,0
563564,29.2387,129.4747,NaN,08,39.32,4.7,2016-07-04,1,2,0,10820,0
563565,29.0458,129.2817,NaN,08,37.53,4.7,2016-07-04,1,2,0,10820,0
563566,-0.5323,-12.6569,NaN,09,10.00,4.9,2016-07-04,1,2,0,10920,0
563567,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,0,0,10000,0
563568,37.3679,-98.2025,NaN,00,5.00,3.5,2016-07-05,1,0,0,10000,0
563569,36.2626,-97.5821,NaN,00,5.00,3.5,2016-07-05,1,0,0,10000,0
563570,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,2,0,10120,0
563571,-32.9270,-177.8664,NaN,11,10.00,5.2,2016-07-05,1,2,0,11120,0
563572,38.2305,73.6797,NaN,13,155.40,4.3,2016-07-05,1,1,1,11311,0
563573,39.4890,73.4459,NaN,13,10.00,4.4,2016-07-05,1,1,0,11310,0
563574,-20.1948,-70.9115,NaN,03,11.20,5.0,2016-07-05,1,2,0,10320,0
563575,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310,0
563576,43.3325,-126.6572,NaN,05,10.00,3.1,2016-07-05,1,0,0,10500,0
563577,44.1651,-128.9059,NaN,05,10.00,4.3,2016-07-05,1,1,0,10510,0
563578,-0.2665,125.5466,NaN,06,35.00,4.5,2016-07-05,1,2,0,10620,0
563579,-0.3386,125.4749,NaN,06,35.00,4.4,2016-07-05,1,1,0,10610,0
563580,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611,0
563581,35.5119,129.8661,NaN,07,10.00,4.8,2016-07-05,1,2,0,10720,0
563582,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,2,0,10720,0
563583,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710,0
563584,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811,0
563585,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,2,1,11121,0
563586,0.1660,-79.8907,NaN,14,35.00,4.3,2016-07-06,1,1,0,11410,0
563587,-56.8016,-142.1336,NaN,04,10.00,5.9,2016-07-06,1,2,0,10420,0
563588,53.4488,-163.4493,NaN,05,10.00,3.8,2016-07-06,1,0,0,10500,0

In [76]:
with open("sequence.txt", "a") as myfile:
    myfile.write(result['sequence'][0])
for x in range(1, len(result)):
    #if date is different from the upcoming one
    if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
        continue
    elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
        with open("sequence.txt", "a") as myfile:
            myfile.write(' ' + result['sequence'][x])
    elif (result['startdate'][x] != result['startdate'][x - 1]):
        with open("sequence.txt", "a") as myfile:
            myfile.write(' ' + str(result['phase'][x-1]) + ' -1 ')
            #' ' + str(result['phase'][x-1]) +
        if (result['phase'][x - 1] != result['phase'][x]):
            with open("sequence.txt", "a") as myfile:
                myfile.write('-2\n')
        with open("sequence.txt", "a") as myfile:
            myfile.write(result['sequence'][x])
        
with open("sequence.txt", "a") as myfile:
        myfile.write(' -1 -2\n')

In [117]:
len(result)

500862

In [18]:
result['mag'][result['type'] == 'V'] = ''

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
result.to_csv('quakevolcano.csv', index = False)

In [19]:
forvisual = result[(result['mag'] >= 6) | ( result['mag'] == '')]

In [21]:
forvisual.to_csv('quakevolcano.csv', index = False)