In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('numberseq.csv', dtype=object)
df

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence,phase
0,-38.12,176.5,1,11,NaN,NaN,1900-01-01,3,NaN,NaN,311,0
1,36.406,138.523,2,07,NaN,NaN,1900-01-22,3,NaN,NaN,307,3
2,13.257,123.685,2,08,NaN,NaN,1900-03-01,3,NaN,NaN,308,0
3,-8.108,112.92,2,10,NaN,NaN,1900-03-29,3,NaN,NaN,310,0
4,-21.244,55.708,0,02,NaN,NaN,1900-05-11,3,NaN,NaN,302,2
5,62.006,-144.017,2,05,NaN,NaN,1900-06-01,3,NaN,NaN,305,0
6,-4.03,103.13,2,10,NaN,NaN,1900-06-04,3,NaN,NaN,310,1
7,37.647,140.281,2,07,NaN,NaN,1900-07-17,3,NaN,NaN,307,3
8,36.618,138.528,1,07,NaN,NaN,1900-10-01,3,NaN,NaN,307,1
9,57.09,-153.48,NaN,05,0.0,8.3,1900-10-10,1,2,0,10520,2
10,-4.03,103.13,2,10,NaN,NaN,1900-10-26,3,NaN,NaN,310,0
11,-8.42,116.47,2,06,NaN,NaN,1900-11-30,3,NaN,NaN,306,1
12,60.0,-135.0,NaN,05,0.0,7.1,1901-01-18,1,2,0,10520,3
13,-8.108,112.92,2,10,NaN,NaN,1901-01-29,3,NaN,NaN,310,1
14,1.112,124.737,2,06,NaN,NaN,1901-02-04,3,NaN,NaN,306,2
15,-21.244,55.708,2,02,NaN,NaN,1901-02-21,3,NaN,NaN,302,0
16,-33.425,-69.797,2,03,NaN,NaN,1901-04-01,3,NaN,NaN,303,2
17,-4.523,129.881,2,06,NaN,NaN,1901-05-18,3,NaN,NaN,306,0
18,-7.93,112.308,3,10,NaN,NaN,1901-05-22,3,NaN,NaN,310,0
19,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,3,NaN,NaN,303,1
20,-8.42,116.47,2,06,NaN,NaN,1901-06-01,3,NaN,NaN,306,2
21,-21.244,55.708,2,02,NaN,NaN,1901-07-04,3,NaN,NaN,302,2
22,53.256,158.836,2,07,NaN,NaN,1901-07-07,3,NaN,NaN,307,3
23,52.0,-160.0,NaN,05,0.0,6.6,1901-12-30,1,2,0,10520,2
24,51.45,-171.02,NaN,05,0.0,7.8,1901-12-31,1,2,0,10520,3
25,52.38,-167.45,NaN,05,0.0,7.8,1902-01-01,1,2,0,10520,3
26,60.485,-152.742,3,05,NaN,NaN,1902-01-18,3,NaN,NaN,305,1
27,10.412,123.132,2,06,NaN,NaN,1902-01-31,3,NaN,NaN,306,3
28,-7.542,110.442,1,10,NaN,NaN,1902-02-03,3,NaN,NaN,310,3
29,36.406,138.523,2,07,NaN,NaN,1902-02-07,3,NaN,NaN,307,0
...,...,...,...,...,...,...,...,...,...,...,...,...
563559,36.1361,139.705,NaN,07,48.58,4.5,2016-07-04,1,2,0,10720,0
563560,46.5141,152.7939,NaN,07,50.93,4.6,2016-07-04,1,2,0,10720,0
563561,46.8062,152.8785,NaN,07,35.0,4.4,2016-07-04,1,1,0,10710,0
563562,52.5649,172.7571,NaN,07,34.99,5.3,2016-07-04,1,2,0,10720,0
563563,29.6131,143.3523,NaN,07,9.1,4.6,2016-07-04,1,2,0,10720,0
563564,29.2387,129.4747,NaN,08,39.32,4.7,2016-07-04,1,2,0,10820,0
563565,29.0458,129.2817,NaN,08,37.53,4.7,2016-07-04,1,2,0,10820,0
563566,-0.5323,-12.6569,NaN,09,10.0,4.9,2016-07-04,1,2,0,10920,0
563567,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,0,0,10000,0
563568,37.3679,-98.2025,NaN,00,5.0,3.5,2016-07-05,1,0,0,10000,0
563569,36.2626,-97.5821,NaN,00,5.0,3.5,2016-07-05,1,0,0,10000,0
563570,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,2,0,10120,0
563571,-32.927,-177.8664,NaN,11,10.0,5.2,2016-07-05,1,2,0,11120,0
563572,38.2305,73.6797,NaN,13,155.4,4.3,2016-07-05,1,1,1,11311,0
563573,39.489,73.4459,NaN,13,10.0,4.4,2016-07-05,1,1,0,11310,0
563574,-20.1948,-70.9115,NaN,03,11.2,5.0,2016-07-05,1,2,0,10320,0
563575,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310,0
563576,43.3325,-126.6572,NaN,05,10.0,3.1,2016-07-05,1,0,0,10500,0
563577,44.1651,-128.9059,NaN,05,10.0,4.3,2016-07-05,1,1,0,10510,0
563578,-0.2665,125.5466,NaN,06,35.0,4.5,2016-07-05,1,2,0,10620,0
563579,-0.3386,125.4749,NaN,06,35.0,4.4,2016-07-05,1,1,0,10610,0
563580,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611,0
563581,35.5119,129.8661,NaN,07,10.0,4.8,2016-07-05,1,2,0,10720,0
563582,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,2,0,10720,0
563583,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710,0
563584,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811,0
563585,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,2,1,11121,0
563586,0.166,-79.8907,NaN,14,35.0,4.3,2016-07-06,1,1,0,11410,0
563587,-56.8016,-142.1336,NaN,04,10.0,5.9,2016-07-06,1,2,0,10420,0
563588,53.4488,-163.4493,NaN,05,10.0,3.8,2016-07-06,1,0,0,10500,0

In [2]:
dff = df.copy()

In [3]:
dfsp1 = df[df['type'] == '1'].sample(900)
dfsp2 = df[df['type'] == '3'].sample(900)
frames = [dfsp1, df[df['type'] == '2'], dfsp2]
result = pd.concat(frames)
result['startdate'] = pd.to_datetime(result['startdate'])
result = result.sort(['startdate'])
result.index = range(len(result))
result

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence,phase
0,-8.108,112.92,2,10,NaN,NaN,1900-03-29,3,NaN,NaN,310,0
1,-4.523,129.881,2,06,NaN,NaN,1901-05-18,3,NaN,NaN,306,0
2,-21.88,-68.4,2,03,NaN,NaN,1901-05-25,3,NaN,NaN,303,1
3,53.256,158.836,2,07,NaN,NaN,1901-07-07,3,NaN,NaN,307,3
4,-8.119,114.056,2,06,NaN,NaN,1902-02-16,3,NaN,NaN,306,1
5,13.33,-61.18,4,14,NaN,NaN,1902-05-06,3,NaN,NaN,314,0
6,36.618,138.528,1,07,NaN,NaN,1902-07-15,3,NaN,NaN,307,1
7,36.406,138.523,2,07,NaN,NaN,1902-08-05,3,NaN,NaN,307,0
8,-21.244,55.708,2,02,NaN,NaN,1902-08-13,3,NaN,NaN,302,1
9,-77.53,167.17,0,02,NaN,NaN,1903-01-01,3,NaN,NaN,302,0
10,27.881,128.223,2,08,NaN,NaN,1903-03-15,3,NaN,NaN,308,2
11,-8.108,112.92,2,10,NaN,NaN,1903-03-26,3,NaN,NaN,310,3
12,-6.73,129.5,2,06,NaN,NaN,1903-12-08,3,NaN,NaN,306,2
13,56.056,160.642,2,07,NaN,NaN,1904-01-31,3,NaN,NaN,307,2
14,-6.976,129.144,2,06,NaN,NaN,1904-06-03,3,NaN,NaN,306,2
15,-4.08,145.037,3,11,NaN,NaN,1904-10-26,3,NaN,NaN,311,2
16,24.285,141.481,3,01,NaN,NaN,1904-11-14,3,NaN,NaN,301,1
17,-8.108,112.92,2,10,NaN,NaN,1905-08-04,3,NaN,NaN,310,0
18,-8.73,120.98,2,06,NaN,NaN,1905-11-01,3,NaN,NaN,306,0
19,53.93,-168.03,3,05,NaN,NaN,1906-03-01,3,NaN,NaN,305,1
20,-39.28,175.57,2,11,NaN,NaN,1906-03-15,3,NaN,NaN,311,3
21,31.888,139.918,1,07,NaN,NaN,1906-04-07,3,NaN,NaN,307,2
22,-8.42,116.47,1,06,NaN,NaN,1906-04-29,3,NaN,NaN,306,1
23,32.884,131.104,3,08,NaN,NaN,1906-06-07,3,NaN,NaN,308,2
24,1.112,124.737,2,06,NaN,NaN,1906-06-17,3,NaN,NaN,306,3
25,-0.677,-78.436,2,14,NaN,NaN,1906-08-21,3,NaN,NaN,314,0
26,-7.3,109.992,2,10,NaN,NaN,1906-09-22,3,NaN,NaN,310,0
27,-16.355,-70.903,2,03,NaN,NaN,1906-10-01,3,NaN,NaN,303,2
28,1.112,124.737,2,06,NaN,NaN,1907-06-05,3,NaN,NaN,306,3
29,-1.408,29.2,3,09,NaN,NaN,1907-11-07,3,NaN,NaN,309,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2425,-9.7659,124.8476,NaN,06,NaN,NaN,2015-11-03,2,NaN,NaN,206,3
2426,39.3889,143.7767,NaN,07,10.0,4.3,2015-11-05,1,1,0,10710,3
2427,0.7879,124.0055,NaN,06,176.3,4.0,2015-11-06,1,1,1,10611,3
2428,6.7934,94.3555,NaN,10,NaN,NaN,2015-11-08,2,NaN,NaN,210,3
2429,12.422,-86.54,2,14,NaN,NaN,2015-12-01,3,NaN,NaN,314,3
2430,-30.5429,-72.1165,NaN,03,14.46,4.2,2015-12-04,1,1,0,10310,3
2431,-4.1574,129.4333,NaN,06,NaN,NaN,2015-12-09,2,NaN,NaN,206,0
2432,11.984,-86.161,1,14,NaN,NaN,2015-12-11,3,NaN,NaN,314,0
2433,1.112,124.737,3,06,NaN,NaN,2016-01-02,3,NaN,NaN,306,3
2434,18.8688,-66.3542,NaN,14,NaN,NaN,2016-01-04,2,NaN,NaN,214,3
2435,35.6596,-97.3904,NaN,00,NaN,NaN,2016-01-06,2,NaN,NaN,200,3
2436,59.7859,-153.009,NaN,05,NaN,NaN,2016-01-24,2,NaN,NaN,205,2
2437,-24.3628,-67.3815,NaN,03,179.59,4.4,2016-02-02,1,1,1,10311,3
2438,11.5735,-87.1313,NaN,14,37.51,4.4,2016-02-10,1,1,0,11410,0
2439,50.861,155.565,1,07,NaN,NaN,2016-02-21,3,NaN,NaN,307,2
2440,12.77,124.05,2,06,NaN,NaN,2016-02-22,3,NaN,NaN,306,2
2441,-4.9812,94.007,NaN,10,14.31,4.3,2016-03-02,1,1,0,11010,3
2442,-10.1364,161.3031,NaN,11,77.52,4.8,2016-03-08,1,2,1,11121,0
2443,51.398,-174.119,NaN,05,NaN,NaN,2016-03-12,2,NaN,NaN,205,0
2444,-21.5609,-178.7468,NaN,11,562.8,4.4,2016-03-20,1,1,2,11112,1
2445,50.324,155.461,2,07,NaN,NaN,2016-03-29,3,NaN,NaN,307,3
2446,57.008,-157.9321,NaN,05,NaN,NaN,2016-04-02,2,NaN,NaN,205,3
2447,-15.1096,-173.6863,NaN,11,NaN,NaN,2016-04-02,2,NaN,NaN,211,3
2448,32.7805,130.7516,NaN,08,NaN,NaN,2016-04-14,2,NaN,NaN,208,1
2449,34.3642,-118.6447,NaN,00,NaN,NaN,2016-04-15,2,NaN,NaN,200,1
2450,-23.5055,-174.2826,NaN,11,10.0,5.9,2016-04-17,1,2,0,11120,1
2451,-59.017,-26.533,1,03,NaN,NaN,2016-04-24,3,NaN,NaN,303,2
2452,-20.1227,-177.5153,NaN,11,500.66,4.5,2016-05-20,1,2,2,11122,2
2453,17.4614,-94.1049,NaN,00,151.49,4.3,2016-06-06,1,1,1,10011,0
2454,57.5513,-33.2073,NaN,09,10.0,4.9,2016-06-26,1,2,0,10920,3

In [8]:
#result = df.copy()
with open('samplesequence3.txt', "a") as myfile:
    myfile.write(result['sequence'][0])
    #str(result['phase'][0]) + ' ' + str(result['temp'][0]) + ' -1 ' + 
    for x in range(1, len(result)):
        #if date is the same from the previous one
        if ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] == result['sequence'][x - 1])):
            continue
        elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
            myfile.write(' ' + result['sequence'][x])
        #if date is diff from the previous one
        elif (result['startdate'][x] != result['startdate'][x - 1]):
            if (result['phase'][x - 1] > result['phase'][x]):
                myfile.write(' -1 -2\n' + result['sequence'][x])
                #str(result['phase'][x]) + ' ' + str(result['temp'][x]) + ' -1 ' +
            else:
                myfile.write(' -1' + ' ' + str(result['sequence'][x]))
    myfile.write(' -1 -2\n')

In [4]:
len(result['startdate'].unique())

2299

In [7]:
len(result[result['type'] == '3'])

800