In [13]:
import numpy as np
import pandas as pd
df1 = pd.read_csv('basket.csv')
df1

     cluster   startdate type
0          5  2001-01-01    E
1          5  2001-01-01    E
2          5  2001-01-02    E
3         10  2001-01-02    E
4          5  2001-01-08    V
5         10  2001-01-09    E
6          4  2001-01-10    E
7          5  2001-01-11    V
8         12  2001-01-11    V
9          4  2001-01-11    E
10         2  2001-01-13    E
11         7  2001-01-15    E
12         5  2001-01-16    E
13         5  2001-01-16    E
14        10  2001-01-16    V
15         2  2001-01-17    V
16         2  2001-01-19    E
17        10  2001-01-19    E
18         6  2001-01-19    E
19         5  2001-01-26    E
20         5  2001-01-29    E
21        12  2001-02-01    E
22        12  2001-02-02    V
23         9  2001-02-06    V
24         5  2001-02-13    E
25         2  2001-02-13    E
26        10  2001-02-14    E
27        10  2001-02-14    E
28         5  2001-02-16    E
29         4  2001-02-17    E
..       ...         ...  ...
144        2  2001-11-09    E
145        2  2001-11-13    E
146       12  2001-11-13    E
147       12  2001-11-13    E
148        5  2001-11-14    E
149       11  2001-11-15    E
150       12  2001-11-15    V
151        5  2001-11-20    E
152       10  2001-11-22    E
153       10  2001-11-22    E
154        5  2001-11-23    E
155       11  2001-11-24    V
156       11  2001-11-26    V
157       10  2001-11-27    E
158        2  2001-11-28    E
159       13  2001-12-01    V
160       12  2001-12-02    E
161       10  2001-12-02    E
162       10  2001-12-03    E
163        2  2001-12-04    V
164        5  2001-12-08    E
165        5  2001-12-09    E
166       12  2001-12-10    V
167       10  2001-12-12    E
168       10  2001-12-12    E
169        5  2001-12-18    E
170       10  2001-12-22    E
171       10  2001-12-23    E
172       10  2001-12-27    E
173       11  2001-12-28    E

[174 rows x 3 columns]

In [14]:
df1['sequence']=df1['cluster'].map(str) + df1['type']

In [15]:
df1

     cluster   startdate type sequence
0          5  2001-01-01    E       5E
1          5  2001-01-01    E       5E
2          5  2001-01-02    E       5E
3         10  2001-01-02    E      10E
4          5  2001-01-08    V       5V
5         10  2001-01-09    E      10E
6          4  2001-01-10    E       4E
7          5  2001-01-11    V       5V
8         12  2001-01-11    V      12V
9          4  2001-01-11    E       4E
10         2  2001-01-13    E       2E
11         7  2001-01-15    E       7E
12         5  2001-01-16    E       5E
13         5  2001-01-16    E       5E
14        10  2001-01-16    V      10V
15         2  2001-01-17    V       2V
16         2  2001-01-19    E       2E
17        10  2001-01-19    E      10E
18         6  2001-01-19    E       6E
19         5  2001-01-26    E       5E
20         5  2001-01-29    E       5E
21        12  2001-02-01    E      12E
22        12  2001-02-02    V      12V
23         9  2001-02-06    V       9V
24         5  2001-02-13    E       5E
25         2  2001-02-13    E       2E
26        10  2001-02-14    E      10E
27        10  2001-02-14    E      10E
28         5  2001-02-16    E       5E
29         4  2001-02-17    E       4E
..       ...         ...  ...      ...
144        2  2001-11-09    E       2E
145        2  2001-11-13    E       2E
146       12  2001-11-13    E      12E
147       12  2001-11-13    E      12E
148        5  2001-11-14    E       5E
149       11  2001-11-15    E      11E
150       12  2001-11-15    V      12V
151        5  2001-11-20    E       5E
152       10  2001-11-22    E      10E
153       10  2001-11-22    E      10E
154        5  2001-11-23    E       5E
155       11  2001-11-24    V      11V
156       11  2001-11-26    V      11V
157       10  2001-11-27    E      10E
158        2  2001-11-28    E       2E
159       13  2001-12-01    V      13V
160       12  2001-12-02    E      12E
161       10  2001-12-02    E      10E
162       10  2001-12-03    E      10E
163        2  2001-12-04    V       2V
164        5  2001-12-08    E       5E
165        5  2001-12-09    E       5E
166       12  2001-12-10    V      12V
167       10  2001-12-12    E      10E
168       10  2001-12-12    E      10E
169        5  2001-12-18    E       5E
170       10  2001-12-22    E      10E
171       10  2001-12-23    E      10E
172       10  2001-12-27    E      10E
173       11  2001-12-28    E      11E

[174 rows x 4 columns]

In [45]:
with open("test.txt", "a") as myfile:
        myfile.write(df1['sequence'][0])
for x in range(1, len(df1['sequence'])):
    #if date is different from the upcoming one
    if df1['startdate'][x] != df1['startdate'][x - 1]:
        with open("test.txt", "a") as myfile:
            myfile.write(' -1 ' + df1['sequence'][x] )
    else:
        with open("test.txt", "a") as myfile:
            myfile.write(' ' + df1['sequence'][x])
with open("test.txt", "a") as myfile:
        myfile.write(' -1 -2\n')