In [24]:
import numpy as np
import pandas as pd
df1 = pd.read_csv('allvolcanoes.csv', dtype=object)
df1['startdate'] = df1.apply(lambda row: '{0}/{1}/{2}'.format(row['Start_Month'],row['Start_Day'],row['Start_Year']), axis=1)
#print(df1['startdate'])
df1['startdate'] = pd.to_datetime(df1.startdate)
df1 = df1.sort_values(by = ['startdate'])
df1['type'] = '0'
df1

,Volcano_Number,Volcano_Name,Eruption_Number,Eruption_Category,Area_of_Activity,VEI,VEI_Modifier,Start_Year_Modifier,Start_Year,Start_Year_Uncertainty,...,End_Year_Uncertainty,End_Month,End_Day_Modifier,End_Day,End_Day_Uncertainty,Latitude,Longitude,cluster,startdate,type
2,273030,Mayon,16810,Confirmed Eruption,NaN,3,NaN,NaN,2001,NaN,...,NaN,8,NaN,8,NaN,13.257,123.685,8,2001-01-08,0
3,264090,Inielika,16258,Confirmed Eruption,Summit crater complex,2,NaN,NaN,2001,NaN,...,NaN,3,?,0,NaN,-8.73,120.98,6,2001-01-11,0
4,284040,Miyakejima,18274,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,11,NaN,24,NaN,34.094,139.526,7,2001-01-11,0
5,252120,Ulawun,15064,Confirmed Eruption,Summit and NNE flank,3,NaN,NaN,2001,NaN,...,NaN,5,NaN,3,NaN,-5.05,151.33,11,2001-01-16,0
6,344040,Telica,10935,Confirmed Eruption,NaN,1,NaN,NaN,2001,NaN,...,NaN,12,?,19,NaN,12.602,-86.845,14,2001-01-17,0
59,311240,Cleveland,19816,Confirmed Eruption,NaN,3,?,NaN,2001,NaN,...,NaN,4,?,15,NaN,52.825,-169.944,5,2001-02-02,0
60,223020,Nyamuragira,14081,Confirmed Eruption,North and SSE flanks,2,?,NaN,2001,NaN,...,NaN,4,NaN,5,4,-1.408,29.2,9,2001-02-06,0
61,241040,White Island,14495,Confirmed Eruption,MH vent,2,NaN,NaN,2001,NaN,...,NaN,2,?,19,NaN,-37.52,177.18,11,2001-02-19,0
107,233020,Fournaise Piton de la,14380,Confirmed Eruption,South flank (below Dolomieu at ~2500 m),1,NaN,NaN,2001,NaN,...,NaN,4,NaN,4,NaN,-21.244,55.708,2,2001-03-27,0
161,261140,Marapi,15478,Confirmed Eruption,Verbeek Crater,2,NaN,NaN,2001,NaN,...,NaN,6,NaN,5,NaN,-0.381,100.473,10,2001-04-13,0
162,344100,Masaya,11037,Confirmed Eruption,Santiago,1,NaN,NaN,2001,NaN,...,NaN,4,?,25,NaN,11.984,-86.161,14,2001-04-23,0
163,284141,Ahyi,18474,Confirmed Eruption,20.34�N 145.02�E,0,NaN,NaN,2001,NaN,...,NaN,4,NaN,25,NaN,20.42,145.03,1,2001-04-24,0
209,234011,McDonald Islands,14397,Confirmed Eruption,NaN,1,?,NaN,2001,NaN,...,NaN,NaN,NaN,NaN,NaN,-53.03,72.6,2,2001-05-03,0
210,344020,San Cristobal,10888,Confirmed Eruption,NaN,1,NaN,NaN,2001,NaN,...,NaN,12,?,9,NaN,12.702,-87.004,14,2001-05-11,0
211,261170,Kerinci,15528,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,8,?,27,NaN,-1.697,101.264,10,2001-05-12,0
212,268030,Ibu,16580,Confirmed Eruption,NaN,0,NaN,NaN,2001,NaN,...,NaN,10,?,3,NaN,1.488,127.63,6,2001-05-28,0
269,257050,Lopevi,15317,Confirmed Eruption,NW flank (200-400 m),3,NaN,NaN,2001,NaN,...,NaN,6,>,19,NaN,-16.507,168.346,11,2001-06-08,0
270,233020,Fournaise Piton de la,14381,Confirmed Eruption,ESE flank (2500 m) East flank (1800-2000 m),1,NaN,NaN,2001,NaN,...,NaN,7,NaN,7,NaN,-21.244,55.708,2,2001-06-11,0
271,251020,Manam,14929,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,6,?,25,NaN,-4.08,145.037,11,2001-06-14,0
315,211060,Etna,13832,Confirmed Eruption,S to NE flanks (3100-2100 m),2,NaN,NaN,2001,NaN,...,NaN,8,NaN,9,NaN,37.734,15.004,9,2001-07-17,0
316,262000,Krakatau,15625,Confirmed Eruption,Anak Krakatau,1,NaN,NaN,2001,NaN,...,NaN,9,?,17,NaN,-6.102,105.423,10,2001-07-21,0
317,300250,Bezymianny,19378,Confirmed Eruption,NaN,3,NaN,NaN,2001,NaN,...,NaN,8,?,10,NaN,55.972,160.595,7,2001-07-23,0
363,252120,Ulawun,15065,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,8,NaN,28,NaN,-5.05,151.33,11,2001-08-28,0
411,390090,Saunders,13217,Confirmed Eruption,NaN,0,NaN,NaN,2001,NaN,...,NaN,11,?,0,NaN,-57.8,-26.483,3,2001-09-01,0
412,284120,Ioto,18421,Confirmed Eruption,Off SE coast and Idogahama (NW coast),1,NaN,NaN,2001,NaN,...,NaN,10,NaN,23,NaN,24.751,141.289,1,2001-09-21,0
413,261160,Talang,15494,Confirmed Eruption,Kepundan Panjang & Kabuo Gabuo Atas,1,NaN,NaN,2001,NaN,...,NaN,11,NaN,15,3,-0.978,100.679,10,2001-09-25,0
414,243091,Unnamed,14772,Confirmed Eruption,NaN,2,NaN,NaN,2001,NaN,...,NaN,9,?,28,NaN,-18.325,-174.365,11,2001-09-27,0
458,390081,Montagu Island,13205,Confirmed Eruption,NW of Mount Belinda,1,?,NaN,2001,NaN,...,NaN,9,NaN,20,NaN,-58.445,-26.374,3,2001-10-01,0
459,300100,Avachinsky,19104,Confirmed Eruption,NaN,1,NaN,NaN,2001,NaN,...,NaN,10,NaN,5,NaN,53.256,158.836,7,2001-10-05,0
460,342110,Pacaya,19880,Confirmed Eruption,MacKenney Crater,1,NaN,NaN,2001,NaN,...,NaN,10,NaN,31,NaN,14.381,-90.601,14,2001-10-31,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,290390,Alaid,21096,Confirmed Eruption,NaN,0,NaN,NaN,2015,NaN,...,NaN,10,NaN,9,NaN,50.861,155.565,7,2015-10-02,0
508,357090,Copahue,21098,Confirmed Eruption,Agrio Crater,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,26,NaN,-37.856,-71.183,3,2015-10-06,0
509,345020,Rincon de la Vieja,22132,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,1,NaN,10.83,-85.324,14,2015-10-17,0
510,345070,Turrialba,22109,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,10.025,-83.767,14,2015-10-23,0
511,264030,Rinjani,22104,Confirmed Eruption,Barujari crater,2,NaN,NaN,2015,NaN,...,NaN,12,NaN,24,NaN,-8.42,116.47,6,2015-10-25,0
512,355100,Lascar,22110,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,10,NaN,30,NaN,-23.37,-67.73,3,2015-10-30,0
565,263310,Tengger Caldera,22103,Confirmed Eruption,Bromo cone,2,NaN,NaN,2015,NaN,...,NaN,5,NaN,24,NaN,-7.942,112.95,10,2015-11-12,0
566,261140,Marapi,22111,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,11,NaN,14,NaN,-0.381,100.473,10,2015-11-14,0
567,272020,Kanlaon,22106,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,3,NaN,31,NaN,10.412,123.132,6,2015-11-24,0
595,344090,Momotombo,22107,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,7,NaN,12.422,-86.54,14,2015-12-01,0
596,211060,Etna,22102,Confirmed Eruption,NaN,2,NaN,NaN,2015,NaN,...,NaN,4,NaN,1,NaN,37.734,15.004,9,2015-12-02,0
597,344100,Masaya,22108,Confirmed Eruption,NaN,1,NaN,NaN,2015,NaN,...,NaN,5,NaN,19,NaN,11.984,-86.161,14,2015-12-11,0
56,266030,Soputan,22105,Confirmed Eruption,NaN,3,NaN,NaN,2016,NaN,...,NaN,2,NaN,7,NaN,1.112,124.737,6,2016-01-02,0
57,357070,Chill�n Nevados de,22119,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,9,NaN,-36.863,-71.377,3,2016-01-08,0
58,343100,San Miguel,22117,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,1,NaN,18,NaN,13.434,-88.269,14,2016-01-12,0
104,345070,Turrialba,22118,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,6,NaN,2,NaN,10.025,-83.767,14,2016-02-02,0
105,290390,Alaid,22116,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,50.861,155.565,7,2016-02-21,0
106,273010,Bulusan,22114,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,2,NaN,22,NaN,12.77,124.05,6,2016-02-22,0
155,255020,Bagana,22124,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,22,NaN,-6.137,155.196,11,2016-03-03,0
157,251020,Manam,22122,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,4,NaN,-4.08,145.037,11,2016-03-04,0
156,282110,Asosan,22126,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,16,NaN,32.884,131.104,8,2016-03-04,0
158,312030,Pavlof,22129,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,20,NaN,55.417,-161.894,5,2016-03-27,0
159,290360,Chikurachki,22127,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,3,NaN,31,NaN,50.324,155.461,7,2016-03-29,0
160,261170,Kerinci,22125,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,4,NaN,-1.697,101.264,10,2016-03-31,0
203,252010,Langila,22123,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,5,NaN,13,NaN,-5.525,148.42,11,2016-04-02,0
204,357120,Villarrica,22134,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,3,NaN,-39.42,-71.93,3,2016-04-03,0
205,311240,Cleveland,22128,Confirmed Eruption,NaN,0,NaN,NaN,2016,NaN,...,NaN,5,NaN,17,NaN,52.825,-169.944,5,2016-04-16,0
206,344020,San Cristobal,22130,Confirmed Eruption,NaN,2,NaN,NaN,2016,NaN,...,NaN,4,NaN,22,NaN,12.702,-87.004,14,2016-04-22,0
207,390080,Bristol Island,22133,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,5,NaN,28,NaN,-59.017,-26.533,3,2016-04-24,0
208,241040,White Island,22121,Confirmed Eruption,NaN,1,NaN,NaN,2016,NaN,...,NaN,4,NaN,27,NaN,-37.52,177.18,11,2016-04-27,0

In [1]:
df = pd.read_csv('earthquakesimplified.csv', dtype=object)
df2 = df.convert_objects(convert_numeric=True).query('startyear >= 1900')
#query('startyear >= 2001 and mag >= 6')
df2
df2.to_csv('allquakes.csv', index = False)
df = pd.read_csv('allquakes.csv', dtype=object)
df['startdate'] = df.apply(lambda row: '{0}/{1}/{2}'.format(row['startyear'],row['startmonth'],row['startday']), axis=1)
df['startdate'] = pd.to_datetime(df.startdate)
#result['startdate'] = result['startdate'].dt.date
df = df.sort_values(by = ['startdate'])
df

NameError: name 'pd' is not defined

In [26]:
df_eq = df.iloc[:,(0,-1,-2,1,2,3,4)]
df_vo = df1.iloc[:,(-3,-1,-2,5,-5,-4)]
frames = [df_eq, df_vo]
result = pd.concat(frames)
result['sequence']=result['type'] + result['cluster'].map(str)
result = result.sort_values(by = ['startdate', 'sequence'])
result.index = range(len(result))
result['scale'] = ''
result['mag'] = pd.to_numeric(result['mag'])
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,sequence,scale
0,57.09,-153.48,NaN,5,0.0,8.3,1900-10-10,1,15,
1,60.0,-135.0,NaN,5,0.0,7.1,1901-01-18,1,15,
2,52.0,-160.0,NaN,5,0.0,6.6,1901-12-30,1,15,
3,51.45,-171.02,NaN,5,0.0,7.8,1901-12-31,1,15,
4,52.38,-167.45,NaN,5,0.0,7.8,1902-01-01,1,15,
5,50.85,-175.16,NaN,5,0.0,7.0,1903-01-17,1,15,
6,52.0,175.0,NaN,5,0.0,6.8,1903-02-05,1,15,
7,61.56,-158.54,NaN,5,0.0,8.3,1903-06-02,1,15,
8,64.62,-148.23,NaN,5,0.0,7.8,1904-08-27,1,15,
9,50.73,-178.55,NaN,5,0.0,7.7,1905-02-14,1,15,
10,51.28,174.83,NaN,5,0.0,7.2,1905-03-22,1,15,
11,52.06,171.45,NaN,7,0.0,7.4,1905-09-15,1,17,
12,53.88,-161.68,NaN,5,0.0,7.0,1905-12-10,1,15,
13,50.77,179.73,NaN,5,0.0,8.0,1906-08-17,1,15,
14,53.0,-165.0,NaN,5,0.0,7.6,1906-12-23,1,15,
15,57.0,-161.0,NaN,5,120.0,6.5,1907-08-22,1,15,
16,52.44,170.28,NaN,7,0.0,7.7,1907-09-02,1,17,
17,59.0,-141.0,NaN,5,25.0,7.1,1908-05-15,1,15,
18,52.0,175.0,NaN,5,0.0,7.0,1909-04-10,1,15,
19,52.5,-169.0,NaN,5,90.0,7.4,1909-09-08,1,15,
20,60.0,-149.5,NaN,5,0.0,7.4,1909-09-19,1,15,
21,57.0,-160.0,NaN,5,100.0,6.7,1910-05-13,1,15,
22,42.0,-127.0,NaN,0,NaN,6.8,1910-08-05,1,10,
23,50.75,179.38,NaN,5,25.0,7.3,1910-09-09,1,15,
24,53.0,-135.0,NaN,5,0.0,6.8,1910-11-06,1,15,
25,37.25,-121.75,NaN,0,NaN,6.6,1911-07-01,1,10,
26,51.0,180.0,NaN,5,0.0,7.1,1911-09-17,1,15,
27,60.5,-149.0,NaN,5,60.0,6.9,1911-09-22,1,15,
28,52.0,173.0,NaN,7,0.0,7.0,1911-11-13,1,17,
29,52.0,-179.0,NaN,5,25.0,7.1,1912-01-04,1,15,
...,...,...,...,...,...,...,...,...,...,...
618427,36.1361,139.705,NaN,7,48.58,4.5,2016-07-04,1,17,
618428,46.5141,152.7939,NaN,7,50.93,4.6,2016-07-04,1,17,
618429,36.3263,140.0904,NaN,7,77.55,4.4,2016-07-04,1,17,
618430,42.8475,145.4291,NaN,7,39.96,4.6,2016-07-04,1,17,
618431,39.3485,143.4638,NaN,7,22.75,4.6,2016-07-04,1,17,
618432,29.2387,129.4747,NaN,8,39.32,4.7,2016-07-04,1,18,
618433,29.0458,129.2817,NaN,8,37.53,4.7,2016-07-04,1,18,
618434,-0.5323,-12.6569,NaN,9,10.0,4.9,2016-07-04,1,19,
618435,37.3679,-98.2025,NaN,0,5.0,3.5,2016-07-05,1,10,
618436,36.2626,-97.5821,NaN,0,5.0,3.5,2016-07-05,1,10,
618437,36.1518,-89.6965,NaN,0,9.11,3.0,2016-07-05,1,10,
618438,21.8613,145.3276,NaN,1,36.21,5.2,2016-07-05,1,11,
618439,-32.927,-177.8664,NaN,11,10.0,5.2,2016-07-05,1,111,
618440,39.489,73.4459,NaN,13,10.0,4.4,2016-07-05,1,113,
618441,38.2305,73.6797,NaN,13,155.4,4.3,2016-07-05,1,113,
618442,-41.6855,-74.0542,NaN,3,39.51,4.3,2016-07-05,1,13,
618443,-20.1948,-70.9115,NaN,3,11.2,5.0,2016-07-05,1,13,
618444,44.1651,-128.9059,NaN,5,10.0,4.3,2016-07-05,1,15,
618445,43.3325,-126.6572,NaN,5,10.0,3.1,2016-07-05,1,15,
618446,2.0851,128.3228,NaN,6,192.36,4.3,2016-07-05,1,16,
618447,-0.3386,125.4749,NaN,6,35.0,4.4,2016-07-05,1,16,
618448,-0.2665,125.5466,NaN,6,35.0,4.5,2016-07-05,1,16,
618449,35.7802,140.9868,NaN,7,21.26,4.4,2016-07-05,1,17,
618450,29.7514,142.1428,NaN,7,29.15,4.6,2016-07-05,1,17,
618451,35.5119,129.8661,NaN,7,10.0,4.8,2016-07-05,1,17,
618452,24.8082,95.2124,NaN,8,98.55,4.4,2016-07-05,1,18,
618453,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,111,
618454,0.166,-79.8907,NaN,14,35.0,4.3,2016-07-06,1,114,
618455,-56.8016,-142.1336,NaN,4,10.0,5.9,2016-07-06,1,14,
618456,53.4488,-163.4493,NaN,5,10.0,3.8,2016-07-06,1,15,

In [27]:
result['scale'][result['mag']<=3] = '0'
result['scale'][result['mag']>6] = '2'
result['scale'][(result['mag']>3) & (result['mag']<=6)] = '1'
result['depth'] = pd.to_numeric(result['depth'])
result['dep'] = ''
result['dep'][result['depth']<70] = '0'
result['dep'][(result['depth']>= 70)&(result['depth']<300)] = '1'
result['dep'][result['depth']>=300] = '2'
result
#df.apply(lambda x, y: x.where(result['mag']<=3.0,y), y=df['A'])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,sequence,scale,dep
0,57.09,-153.48,NaN,5,0.00,8.3,1900-10-10,1,15,2,0
1,60.0,-135.0,NaN,5,0.00,7.1,1901-01-18,1,15,2,0
2,52.0,-160.0,NaN,5,0.00,6.6,1901-12-30,1,15,2,0
3,51.45,-171.02,NaN,5,0.00,7.8,1901-12-31,1,15,2,0
4,52.38,-167.45,NaN,5,0.00,7.8,1902-01-01,1,15,2,0
5,50.85,-175.16,NaN,5,0.00,7.0,1903-01-17,1,15,2,0
6,52.0,175.0,NaN,5,0.00,6.8,1903-02-05,1,15,2,0
7,61.56,-158.54,NaN,5,0.00,8.3,1903-06-02,1,15,2,0
8,64.62,-148.23,NaN,5,0.00,7.8,1904-08-27,1,15,2,0
9,50.73,-178.55,NaN,5,0.00,7.7,1905-02-14,1,15,2,0
10,51.28,174.83,NaN,5,0.00,7.2,1905-03-22,1,15,2,0
11,52.06,171.45,NaN,7,0.00,7.4,1905-09-15,1,17,2,0
12,53.88,-161.68,NaN,5,0.00,7.0,1905-12-10,1,15,2,0
13,50.77,179.73,NaN,5,0.00,8.0,1906-08-17,1,15,2,0
14,53.0,-165.0,NaN,5,0.00,7.6,1906-12-23,1,15,2,0
15,57.0,-161.0,NaN,5,120.00,6.5,1907-08-22,1,15,2,1
16,52.44,170.28,NaN,7,0.00,7.7,1907-09-02,1,17,2,0
17,59.0,-141.0,NaN,5,25.00,7.1,1908-05-15,1,15,2,0
18,52.0,175.0,NaN,5,0.00,7.0,1909-04-10,1,15,2,0
19,52.5,-169.0,NaN,5,90.00,7.4,1909-09-08,1,15,2,1
20,60.0,-149.5,NaN,5,0.00,7.4,1909-09-19,1,15,2,0
21,57.0,-160.0,NaN,5,100.00,6.7,1910-05-13,1,15,2,1
22,42.0,-127.0,NaN,0,NaN,6.8,1910-08-05,1,10,2,
23,50.75,179.38,NaN,5,25.00,7.3,1910-09-09,1,15,2,0
24,53.0,-135.0,NaN,5,0.00,6.8,1910-11-06,1,15,2,0
25,37.25,-121.75,NaN,0,NaN,6.6,1911-07-01,1,10,2,
26,51.0,180.0,NaN,5,0.00,7.1,1911-09-17,1,15,2,0
27,60.5,-149.0,NaN,5,60.00,6.9,1911-09-22,1,15,2,0
28,52.0,173.0,NaN,7,0.00,7.0,1911-11-13,1,17,2,0
29,52.0,-179.0,NaN,5,25.00,7.1,1912-01-04,1,15,2,0
...,...,...,...,...,...,...,...,...,...,...,...
618427,36.1361,139.705,NaN,7,48.58,4.5,2016-07-04,1,17,1,0
618428,46.5141,152.7939,NaN,7,50.93,4.6,2016-07-04,1,17,1,0
618429,36.3263,140.0904,NaN,7,77.55,4.4,2016-07-04,1,17,1,1
618430,42.8475,145.4291,NaN,7,39.96,4.6,2016-07-04,1,17,1,0
618431,39.3485,143.4638,NaN,7,22.75,4.6,2016-07-04,1,17,1,0
618432,29.2387,129.4747,NaN,8,39.32,4.7,2016-07-04,1,18,1,0
618433,29.0458,129.2817,NaN,8,37.53,4.7,2016-07-04,1,18,1,0
618434,-0.5323,-12.6569,NaN,9,10.00,4.9,2016-07-04,1,19,1,0
618435,37.3679,-98.2025,NaN,0,5.00,3.5,2016-07-05,1,10,1,0
618436,36.2626,-97.5821,NaN,0,5.00,3.5,2016-07-05,1,10,1,0
618437,36.1518,-89.6965,NaN,0,9.11,3.0,2016-07-05,1,10,0,0
618438,21.8613,145.3276,NaN,1,36.21,5.2,2016-07-05,1,11,1,0
618439,-32.927,-177.8664,NaN,11,10.00,5.2,2016-07-05,1,111,1,0
618440,39.489,73.4459,NaN,13,10.00,4.4,2016-07-05,1,113,1,0
618441,38.2305,73.6797,NaN,13,155.40,4.3,2016-07-05,1,113,1,1
618442,-41.6855,-74.0542,NaN,3,39.51,4.3,2016-07-05,1,13,1,0
618443,-20.1948,-70.9115,NaN,3,11.20,5.0,2016-07-05,1,13,1,0
618444,44.1651,-128.9059,NaN,5,10.00,4.3,2016-07-05,1,15,1,0
618445,43.3325,-126.6572,NaN,5,10.00,3.1,2016-07-05,1,15,1,0
618446,2.0851,128.3228,NaN,6,192.36,4.3,2016-07-05,1,16,1,1
618447,-0.3386,125.4749,NaN,6,35.00,4.4,2016-07-05,1,16,1,0
618448,-0.2665,125.5466,NaN,6,35.00,4.5,2016-07-05,1,16,1,0
618449,35.7802,140.9868,NaN,7,21.26,4.4,2016-07-05,1,17,1,0
618450,29.7514,142.1428,NaN,7,29.15,4.6,2016-07-05,1,17,1,0
618451,35.5119,129.8661,NaN,7,10.00,4.8,2016-07-05,1,17,1,0
618452,24.8082,95.2124,NaN,8,98.55,4.4,2016-07-05,1,18,1,1
618453,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,111,1,1
618454,0.166,-79.8907,NaN,14,35.00,4.3,2016-07-06,1,114,1,0
618455,-56.8016,-142.1336,NaN,4,10.00,5.9,2016-07-06,1,14,1,0
618456,53.4488,-163.4493,NaN,5,10.00,3.8,2016-07-06,1,15,1,0

In [36]:
df = result.copy()

In [28]:
result['cluster'] = result['cluster'].str.zfill(2)
#df['ID'] = df['ID'].str.zfill(15)

In [29]:
del result['sequence']
result['sequence'] = ''
result['sequence'] = result['type'] + result['cluster'] + result['scale'] + result['dep']
result

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence
0,57.09,-153.48,NaN,05,0.00,8.3,1900-10-10,1,2,0,10520
1,60.0,-135.0,NaN,05,0.00,7.1,1901-01-18,1,2,0,10520
2,52.0,-160.0,NaN,05,0.00,6.6,1901-12-30,1,2,0,10520
3,51.45,-171.02,NaN,05,0.00,7.8,1901-12-31,1,2,0,10520
4,52.38,-167.45,NaN,05,0.00,7.8,1902-01-01,1,2,0,10520
5,50.85,-175.16,NaN,05,0.00,7.0,1903-01-17,1,2,0,10520
6,52.0,175.0,NaN,05,0.00,6.8,1903-02-05,1,2,0,10520
7,61.56,-158.54,NaN,05,0.00,8.3,1903-06-02,1,2,0,10520
8,64.62,-148.23,NaN,05,0.00,7.8,1904-08-27,1,2,0,10520
9,50.73,-178.55,NaN,05,0.00,7.7,1905-02-14,1,2,0,10520
10,51.28,174.83,NaN,05,0.00,7.2,1905-03-22,1,2,0,10520
11,52.06,171.45,NaN,07,0.00,7.4,1905-09-15,1,2,0,10720
12,53.88,-161.68,NaN,05,0.00,7.0,1905-12-10,1,2,0,10520
13,50.77,179.73,NaN,05,0.00,8.0,1906-08-17,1,2,0,10520
14,53.0,-165.0,NaN,05,0.00,7.6,1906-12-23,1,2,0,10520
15,57.0,-161.0,NaN,05,120.00,6.5,1907-08-22,1,2,1,10521
16,52.44,170.28,NaN,07,0.00,7.7,1907-09-02,1,2,0,10720
17,59.0,-141.0,NaN,05,25.00,7.1,1908-05-15,1,2,0,10520
18,52.0,175.0,NaN,05,0.00,7.0,1909-04-10,1,2,0,10520
19,52.5,-169.0,NaN,05,90.00,7.4,1909-09-08,1,2,1,10521
20,60.0,-149.5,NaN,05,0.00,7.4,1909-09-19,1,2,0,10520
21,57.0,-160.0,NaN,05,100.00,6.7,1910-05-13,1,2,1,10521
22,42.0,-127.0,NaN,00,NaN,6.8,1910-08-05,1,2,,1002
23,50.75,179.38,NaN,05,25.00,7.3,1910-09-09,1,2,0,10520
24,53.0,-135.0,NaN,05,0.00,6.8,1910-11-06,1,2,0,10520
25,37.25,-121.75,NaN,00,NaN,6.6,1911-07-01,1,2,,1002
26,51.0,180.0,NaN,05,0.00,7.1,1911-09-17,1,2,0,10520
27,60.5,-149.0,NaN,05,60.00,6.9,1911-09-22,1,2,0,10520
28,52.0,173.0,NaN,07,0.00,7.0,1911-11-13,1,2,0,10720
29,52.0,-179.0,NaN,05,25.00,7.1,1912-01-04,1,2,0,10520
...,...,...,...,...,...,...,...,...,...,...,...
618427,36.1361,139.705,NaN,07,48.58,4.5,2016-07-04,1,1,0,10710
618428,46.5141,152.7939,NaN,07,50.93,4.6,2016-07-04,1,1,0,10710
618429,36.3263,140.0904,NaN,07,77.55,4.4,2016-07-04,1,1,1,10711
618430,42.8475,145.4291,NaN,07,39.96,4.6,2016-07-04,1,1,0,10710
618431,39.3485,143.4638,NaN,07,22.75,4.6,2016-07-04,1,1,0,10710
618432,29.2387,129.4747,NaN,08,39.32,4.7,2016-07-04,1,1,0,10810
618433,29.0458,129.2817,NaN,08,37.53,4.7,2016-07-04,1,1,0,10810
618434,-0.5323,-12.6569,NaN,09,10.00,4.9,2016-07-04,1,1,0,10910
618435,37.3679,-98.2025,NaN,00,5.00,3.5,2016-07-05,1,1,0,10010
618436,36.2626,-97.5821,NaN,00,5.00,3.5,2016-07-05,1,1,0,10010
618437,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,0,0,10000
618438,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,1,0,10110
618439,-32.927,-177.8664,NaN,11,10.00,5.2,2016-07-05,1,1,0,11110
618440,39.489,73.4459,NaN,13,10.00,4.4,2016-07-05,1,1,0,11310
618441,38.2305,73.6797,NaN,13,155.40,4.3,2016-07-05,1,1,1,11311
618442,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310
618443,-20.1948,-70.9115,NaN,03,11.20,5.0,2016-07-05,1,1,0,10310
618444,44.1651,-128.9059,NaN,05,10.00,4.3,2016-07-05,1,1,0,10510
618445,43.3325,-126.6572,NaN,05,10.00,3.1,2016-07-05,1,1,0,10510
618446,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611
618447,-0.3386,125.4749,NaN,06,35.00,4.4,2016-07-05,1,1,0,10610
618448,-0.2665,125.5466,NaN,06,35.00,4.5,2016-07-05,1,1,0,10610
618449,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710
618450,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,1,0,10710
618451,35.5119,129.8661,NaN,07,10.00,4.8,2016-07-05,1,1,0,10710
618452,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811
618453,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,1,1,11111
618454,0.166,-79.8907,NaN,14,35.00,4.3,2016-07-06,1,1,0,11410
618455,-56.8016,-142.1336,NaN,04,10.00,5.9,2016-07-06,1,1,0,10410
618456,53.4488,-163.4493,NaN,05,10.00,3.8,2016-07-06,1,1,0,10510

In [30]:
result.to_csv('numberseq.csv', index = False)

In [50]:
from datetime import datetime
import ephem

def get_phase_on_day(date):
    d = ephem.Date(date)
    pnm = ephem.previous_new_moon(date)
    lunation = int(d - pnm)
    if lunation in range(0, 8):
        return 0
    elif lunation in range (8, 16):
        return 1
    elif lunation in range (16, 24):
        return 2
    elif lunation in range (24, 30):
        return 3
    #return lunation

result['startdate'] = pd.to_datetime(result.startdate)
result['startdate'] = result['startdate'].dt.date
result['phase'] = ' '
for i in range(0, len(result)):
    result['phase'][i] = get_phase_on_day(result['startdate'][i])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
result.to_csv('numberseq.csv', index = False)

In [57]:
with open("woph.txt", "a") as myfile:
        myfile.write(result['sequence'][0])
for x in range(1, len(result['startdate'])):
    #if date is different from the upcoming one
    if (result['startdate'][x] == result['startdate'][x - 1] and result['sequence'][x] == result['sequence'][x - 1]):
        continue
    elif ((result['startdate'][x] == result['startdate'][x - 1]) and (result['sequence'][x] != result['sequence'][x - 1])):
        with open("woph.txt", "a") as myfile:
            myfile.write(' ' + result['sequence'][x])
    elif (result['startdate'][x] != result['startdate'][x - 1]):
        with open("woph.txt", "a") as myfile:
            myfile.write(' -1 ')
            #' ' + str(result['phase'][x-1]) +
        if (result['phase'][x - 1] != result['phase'][x]):
            with open("woph.txt", "a") as myfile:
                myfile.write('-2\n')
        with open("woph.txt", "a") as myfile:
            myfile.write(result['sequence'][x])
        
with open("woph.txt", "a") as myfile:
        myfile.write(' -1 -2\n')
        #' ' + str(result['phase'][len(result['phase'])]) +

In [ ]:
import numpy as np
import pandas as pd
df1 = pd.read_csv('numberseq.csv', dtype=object)

In [4]:
df = df1.copy()

In [5]:
df['startdate'] = pd.to_datetime(df['startdate'])
df['Longitude'] = pd.to_numeric(df['Longitude'])
df['Latitude'] = pd.to_numeric(df['Latitude'])
from datetime import timedelta
df['enddate'] = df['startdate'] + timedelta(days=30)
df

,Latitude,Longitude,VEI,cluster,depth,mag,startdate,type,scale,dep,sequence,enddate
0,57.0900,-153.4800,NaN,05,0.0,8.3,1900-10-10,1,2,0,10520,1900-11-09
1,60.0000,-135.0000,NaN,05,0.0,7.1,1901-01-18,1,2,0,10520,1901-02-17
2,52.0000,-160.0000,NaN,05,0.0,6.6,1901-12-30,1,2,0,10520,1902-01-29
3,51.4500,-171.0200,NaN,05,0.0,7.8,1901-12-31,1,2,0,10520,1902-01-30
4,52.3800,-167.4500,NaN,05,0.0,7.8,1902-01-01,1,2,0,10520,1902-01-31
5,50.8500,-175.1600,NaN,05,0.0,7.0,1903-01-17,1,2,0,10520,1903-02-16
6,52.0000,175.0000,NaN,05,0.0,6.8,1903-02-05,1,2,0,10520,1903-03-07
7,61.5600,-158.5400,NaN,05,0.0,8.3,1903-06-02,1,2,0,10520,1903-07-02
8,64.6200,-148.2300,NaN,05,0.0,7.8,1904-08-27,1,2,0,10520,1904-09-26
9,50.7300,-178.5500,NaN,05,0.0,7.7,1905-02-14,1,2,0,10520,1905-03-16
10,51.2800,174.8300,NaN,05,0.0,7.2,1905-03-22,1,2,0,10520,1905-04-21
11,52.0600,171.4500,NaN,07,0.0,7.4,1905-09-15,1,2,0,10720,1905-10-15
12,53.8800,-161.6800,NaN,05,0.0,7.0,1905-12-10,1,2,0,10520,1906-01-09
13,50.7700,179.7300,NaN,05,0.0,8.0,1906-08-17,1,2,0,10520,1906-09-16
14,53.0000,-165.0000,NaN,05,0.0,7.6,1906-12-23,1,2,0,10520,1907-01-22
15,57.0000,-161.0000,NaN,05,120.0,6.5,1907-08-22,1,2,1,10521,1907-09-21
16,52.4400,170.2800,NaN,07,0.0,7.7,1907-09-02,1,2,0,10720,1907-10-02
17,59.0000,-141.0000,NaN,05,25.0,7.1,1908-05-15,1,2,0,10520,1908-06-14
18,52.0000,175.0000,NaN,05,0.0,7.0,1909-04-10,1,2,0,10520,1909-05-10
19,52.5000,-169.0000,NaN,05,90.0,7.4,1909-09-08,1,2,1,10521,1909-10-08
20,60.0000,-149.5000,NaN,05,0.0,7.4,1909-09-19,1,2,0,10520,1909-10-19
21,57.0000,-160.0000,NaN,05,100.0,6.7,1910-05-13,1,2,1,10521,1910-06-12
22,42.0000,-127.0000,NaN,00,NaN,6.8,1910-08-05,1,2,NaN,1002,1910-09-04
23,50.7500,179.3800,NaN,05,25.0,7.3,1910-09-09,1,2,0,10520,1910-10-09
24,53.0000,-135.0000,NaN,05,0.0,6.8,1910-11-06,1,2,0,10520,1910-12-06
25,37.2500,-121.7500,NaN,00,NaN,6.6,1911-07-01,1,2,NaN,1002,1911-07-31
26,51.0000,180.0000,NaN,05,0.0,7.1,1911-09-17,1,2,0,10520,1911-10-17
27,60.5000,-149.0000,NaN,05,60.0,6.9,1911-09-22,1,2,0,10520,1911-10-22
28,52.0000,173.0000,NaN,07,0.0,7.0,1911-11-13,1,2,0,10720,1911-12-13
29,52.0000,-179.0000,NaN,05,25.0,7.1,1912-01-04,1,2,0,10520,1912-02-03
...,...,...,...,...,...,...,...,...,...,...,...,...
618427,36.1361,139.7050,NaN,07,48.58,4.5,2016-07-04,1,1,0,10710,2016-08-03
618428,46.5141,152.7939,NaN,07,50.93,4.6,2016-07-04,1,1,0,10710,2016-08-03
618429,36.3263,140.0904,NaN,07,77.55,4.4,2016-07-04,1,1,1,10711,2016-08-03
618430,42.8475,145.4291,NaN,07,39.96,4.6,2016-07-04,1,1,0,10710,2016-08-03
618431,39.3485,143.4638,NaN,07,22.75,4.6,2016-07-04,1,1,0,10710,2016-08-03
618432,29.2387,129.4747,NaN,08,39.32,4.7,2016-07-04,1,1,0,10810,2016-08-03
618433,29.0458,129.2817,NaN,08,37.53,4.7,2016-07-04,1,1,0,10810,2016-08-03
618434,-0.5323,-12.6569,NaN,09,10.0,4.9,2016-07-04,1,1,0,10910,2016-08-03
618435,37.3679,-98.2025,NaN,00,5.0,3.5,2016-07-05,1,1,0,10010,2016-08-04
618436,36.2626,-97.5821,NaN,00,5.0,3.5,2016-07-05,1,1,0,10010,2016-08-04
618437,36.1518,-89.6965,NaN,00,9.11,3.0,2016-07-05,1,0,0,10000,2016-08-04
618438,21.8613,145.3276,NaN,01,36.21,5.2,2016-07-05,1,1,0,10110,2016-08-04
618439,-32.9270,-177.8664,NaN,11,10.0,5.2,2016-07-05,1,1,0,11110,2016-08-04
618440,39.4890,73.4459,NaN,13,10.0,4.4,2016-07-05,1,1,0,11310,2016-08-04
618441,38.2305,73.6797,NaN,13,155.4,4.3,2016-07-05,1,1,1,11311,2016-08-04
618442,-41.6855,-74.0542,NaN,03,39.51,4.3,2016-07-05,1,1,0,10310,2016-08-04
618443,-20.1948,-70.9115,NaN,03,11.2,5.0,2016-07-05,1,1,0,10310,2016-08-04
618444,44.1651,-128.9059,NaN,05,10.0,4.3,2016-07-05,1,1,0,10510,2016-08-04
618445,43.3325,-126.6572,NaN,05,10.0,3.1,2016-07-05,1,1,0,10510,2016-08-04
618446,2.0851,128.3228,NaN,06,192.36,4.3,2016-07-05,1,1,1,10611,2016-08-04
618447,-0.3386,125.4749,NaN,06,35.0,4.4,2016-07-05,1,1,0,10610,2016-08-04
618448,-0.2665,125.5466,NaN,06,35.0,4.5,2016-07-05,1,1,0,10610,2016-08-04
618449,35.7802,140.9868,NaN,07,21.26,4.4,2016-07-05,1,1,0,10710,2016-08-04
618450,29.7514,142.1428,NaN,07,29.15,4.6,2016-07-05,1,1,0,10710,2016-08-04
618451,35.5119,129.8661,NaN,07,10.0,4.8,2016-07-05,1,1,0,10710,2016-08-04
618452,24.8082,95.2124,NaN,08,98.55,4.4,2016-07-05,1,1,1,10811,2016-08-04
618453,-18.8947,169.4241,NaN,11,257.05,4.8,2016-07-06,1,1,1,11111,2016-08-05
618454,0.1660,-79.8907,NaN,14,35.0,4.3,2016-07-06,1,1,0,11410,2016-08-05
618455,-56.8016,-142.1336,NaN,04,10.0,5.9,2016-07-06,1,1,0,10410,2016-08-05
618456,53.4488,-163.4493,NaN,05,10.0,3.8,2016-07-06,1,1,0,10510,2016-08-05

In [ ]:
for i in range(0, len(df)-1):
    df2 = df[(df['startdate'] >= df['startdate'][i]) & (df['startdate'] < df['enddate'][i]) & (df['Longitude'] >= df['Longitude'][i] - 0.5) & (df['Longitude'] < df['Longitude'][i] + 0.5) & (df['Latitude'] >= df['Latitude'][i] - 0.5) & (df['Latitude'] < df['Latitude'][i] + 0.5)]
    if len(df2)>= 50:
        print i
        df2['type'][0] = '2'
        df.drop(df2.index[1:])

244
245

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/lib/python2.7/site-packages/pandas/core/series.py:729: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc[key] = value
//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2885: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
388
389
390
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
3063
3070
3072
3075
3076
3078
3079
3080
3081
3082
3083
3084
3085
3086
3088
3090
3091
3092
3093
3094
3095
3096
3097
3098
3099
3100
3101
3102
3103
3104
3105
3195
3197
3198
3199
3200
3203
3504
3505
3507
3508
3511
3512
3513
3514
3515
3516
3517
3518
3519
3520
3521
3522
3523
3524
3525
3526
3527
3528
3529
3530
3531
3633
3634
3635
3636
3637
3638
3639
3640
3641
3642
3643
3644
3645
3646
3647
3648
3649
3650
3651
3652
3653
3654
3655
3657
3658
3659
3660
3662
3663
3664
3665
3666
3668
3670
3671
3672
3674
3675
3676
3678
4073
4074
4075
4076
4077
4078
4079
4080
4081
4082
4224
4225
4228
4231
4233
4235
4236
4237
4238
4239
4240
4241
4242
4243
4244
4245
4246
4248
4249
4250
4251
4252
4253
4254
4255
4256
4257
4258
4259
4260
4261
4634
4636
4637
4638
4639
4640
4641
4642
4643
4644
4645
4646
4647
4648
4649
4650
4651
4652
4653
4654
4655
4656
4657
4658
4659
4660
4661
4663
4664
4666
4667
4668
4669
4670
4671
4672
4673
4674
4675
4676
4677
4678
4679
4680
4681
4682
4683
4684
4685
4686
4687
4689
4690
4691
4692
4693
4694
4695
4696
4697
4698
4699
4700
4701
4702
4703
4704
4705
4706
4707
4708
4709
4710
4711
4712
4713
4714
4715
4716
4717
4718
4719
4720
4721
4722
4723
4724
4725
4726
4727

In [ ]:
df[244:]